{% extends "base.html" %}

{% block js %}
    <script type="text/javascript; e4x=1" src="/media/function/citeproc-js/xmle4x.js"></script> 
    <script type="text/javascript" src="/media/function/citeproc-js/xmldom.js"></script>
    <script type="text/javascript" src="/media/function/citeproc-js/citeproc.js"></script>
    <script type="text/javascript" src="/media/function/citeproc-js/simple.js"></script>
    <script type="text/javascript" src="/media/function/json2.js"></script>
    <script type="text/javascript" src="/media/function/zotero-import.js"></script>
    <script type="text/javascript">
      var relatedTopic = '{{ related_topic }}';
      var relatedNote = '{{ related_note }}';
      var zoteroLibrary = 'https://api.zotero.org/users/{{ zotero_uid }}'
    </script>
{% endblock %}

{% block css %}
<style type="text/css">
#collections li, #libraries li {
    padding: .33em;
    font-size: 90%;
    border-bottom: 1px dotted #CCCCCC;
}

.collection-item:hover, #libraries li:hover, .collection-selected {
    background-color: #336699;
    color: #FFFFFF;
}

.collection-child {
    margin: 0px 0px 0px 12px;
    border-left: 1px solid #CCCCCC;
}

.collection-has-children:before {
    content: "▼ ";
}
.collection-has-children.collection-collapsed:before {
    content: "▶ ";
}

td {
    border-bottom: 1px dotted #CCCCCC;
}
th, td {
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-size: 90%;
}
thead th {background:#D7DEDF;}

</style>
{% endblock %}

{% block content %}

{% if zotero_status %}
<div id="browse">
  <div id="source-selection" class="span-7">
    <div id="libraries-container">
      <div id="libraries-loading">
      </div>
      <ul id="libraries" style="display: none;">
        <h3>Select a library</h3>
      </ul>
    </div>
    <div id="collections-container">
      <div id="collections-blank">
      </div>
      <div id="collections-loading">
      </div>
      <ul id="collections" style="display: none;">
      </ul>
    </div>
  </div>

  <div id="items" class="span-17 last">
    <div id="items-table" style="display: none">
      <div id="items-browsing" style="height: 42px;" class="span-16 last">
        <span id="items-browsing-count" style="height: 42px; margin-top: 7px;" class="span-8">
        </span>
        <span id="items-browsing-search" style="height: 42px;" class="span-8 last">
          <a class="button" style="float:right; margin-left: 5px; margin-top: 3px;" id="zotero-search-submit">Search</a>
          <input id="zotero-search" style="float:right" type="text">
        </span>
      </div>
      <table class="span-17 last">
        <thead>
          <tr>
            <th class="item-checkbox"><input type="checkbox"></th>
            <th>Title</th>
            <th>Creator</th>
            <th>Date</th>
            <th>Item type</th>
          </tr>
        </thead>
        <tbody id="item-list">
        </tbody>
      </table>
      <div>
        <form id="items-continue-form" action="continue/" method="POST">
            {% csrf_token %}
            <a id="items-continue" class="button">Continue</a>
        </form>
      </div>
    </div>
    <div id="items-loading">
    </div>
  </div>
</div>

<div id="continue" style="display: none;">
  <p>You have selected to import the following documents.</p>
  <div id="items-to-post" class="span-24 last">
  </div>
  <div id="post-items">
    <a id="post-items-submit" class="button">Submit</a>
    <div id="post-items-loading" style="display: none;">
    </div>
    <a class="button" id="post-items-success" style="display: none" href="{{ return_to }}">Return to previous page</a>
  </div>
</div>

{% else %}
    <p>You have not yet entered Zotero access information. Click on your name in the top navigation bar to do so.</p>
{% endif %}
{% endblock %}
