{% load djotero_display i18n %}

<div id="zotero-information">
  <table class="table table-striped table-condensed table-bordered">
    {% for k, v in zotero_data.items %}
      {% if k == 'tags' %}
      {% elif k == 'notes' %}
      {% elif k == 'creators' %}
        {% for creator in v %}
          <tr>
            <td class="zotero-key">
              <span>{% trans creator.creatorType %}</span>
            </td>
            <td>
              {% if creator.firstName %}
              {{ creator.firstName }} {{ creator.lastName }}
              {% else %}
              {{ creator.name }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% elif v %}
      <tr>
        <td class="zotero-key">
          <span>{% trans k %}</span>
        </td>
        <td>{% if k == 'itemType' %}{% trans v %}{% else %}{{ v }}{% endif %}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

