{% load display %}

<div class="note-section note-section-citation" id="section-{{ section.note_section_id }}">

  <div class="citation-side">
    <a href="#section-{{ section.note_section_id }}"><i class="fa fa-file-text-o"></i></a>
  </div>

  <div class="citation-main">
    <div class="citation-document">
      <a href="{{ section.document }}">{{ section.document_description|safe }}</a>
    </div>

    <div class="note-section-text-content">{% if section.content %}{{ section.content|safe }}{% endif %}</div>
  </div>

</div>
