{% extends "base.html" %}

{% load display staticfiles %}

{% block js %}
  <script src="{% static "function/wysihtml5/wysihtml5-0.3.0.js" %}"></script>
  <script src="{% static "function/wysihtml5/parser_rules.js" %}"></script>
  <script src="{% static "function/citeproc-js/xmldom.js" %}"></script>
  <script src="{% static "function/citeproc-js/citeproc.js" %}"></script>
  <script src="{% static "function/zotero.jquery.js" %}"></script>
  <script src="{% static "function/admin-bootstrap-base.js" %}"></script>
  <script src="{% static "function/admin-bootstrap-note-sections.js" %}"></script>
{% endblock %}

{% block js_nocompress %}
  {% comment %}
  This guy doesn't work on all browsers (or maybe any browsers?), so we're
  keeping it separate to prevent any errors from stopping everything else.
  {% endcomment %}
  <script src="{% static "function/citeproc-js/xmle4x.js" %}"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static "style/bootstrap-admin.css" %}" type="text/css" />
{% endblock %}


{% block content %}
  <h2>{{ note.title }}</h2>

  <div>{{ note.content|as_html }}</div>

  <form method="post"> {% csrf_token %}

    <div style="margin: 1.75em 0 1em 0; padding: .75em; border: 1px solid #999;">
      <h4 style="display: inline-block; margin: 0px 3px 0 0;">Add section:</h4>
      <a class="btn" id="add-citation" href="#">Document citation</a>
      <button class="btn btn-primary pull-right" type="submit">Save changes</button>
    </div>

    {% include "includes/citation_formset.html" %}

  </form>

{% endblock %}
