{% extends "base.html" %}

{% load display staticfiles %}

{% block js %}
  <script src="{% static "function/wysihtml5/wysihtml5-0.3.0.js" %}"></script>
  <script src="{% static "function/wysihtml5/parser_rules.js" %}"></script>
  <script src="{% static "function/citeproc-js/xmldom.js" %}"></script>
  <script src="{% static "function/citeproc-js/citeproc.js" %}"></script>
  <script src="{% static "function/zotero.jquery.js" %}"></script>
  <script src="{% static "function/admin-bootstrap-base.js" %}"></script>
  <script src="{% static "function/admin-bootstrap-note-sections.js" %}"></script>
  <script src="{% static "function/backbone-app.js" %}"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static "style/bootstrap-admin.css" %}" type="text/css" />
{% endblock %}


{% block content %}
  <h2>{{ note.title }}</h2>

  <div>{{ note.content|as_html }}</div>

  <div id="note-sections-edit-blah">
    {% csrf_token %}
    <div id="note-sections-container"></div>
  </div>

{% endblock %}
