{% extends "base.html" %}

{% block css %}
<style type="text/css">
  td { vertical-align: middle !important; }
  table select { margin-bottom: 0px; }
  .project-invitations select,
  .project-invitations input {
    margin-bottom: 0px;
  }
  .project-invitations div {
    margin-bottom: .75em;
  }
  .remove-project-invitation {
    position: relative;
    left: 2px;
    top: 1px;
  }
  .remove-project-invitation:not(:hover) {
    color: black;
  }
  .remove-project-invitation:hover {
    text-decoration: none;
  }
</style>
{% endblock %}

{% block js %}
{% if roster_formset %}
<script type="text/javascript">
  $(document).ready(function () {
    $('.project-user-form').each(function () {
      var $this = $(this)
        , thisId = $this.find('input[name$="id"]').val()

      if (thisId == {{ request.user.id }}) { return; }

      $('.project-user-role', '#project-user-' + thisId)
        .html($this.find('select'))
    });

  });
</script>
{% endif %}
{% endblock %}

{% block content %}

  {% if roster_formset %}
  <form method="post">
    <div style="display: none;">
      {% csrf_token %}
      {{ roster_formset.management_form }}

      {% for form in roster_formset.forms %}
      <div class="project-user-form">
        {{ form.id }}
        {{ form.project_role }}
      </div>
      {% endfor %}
    </div>
  {% endif %}

  <legend>{{ project.name }}</legend>
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Joined</th>
        <th>Last login</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      {% for user, role in roster %}
      <tr id="project-user-{{ user.id }}">
        <td>{{ user.as_text }}</td>
        <td>{{ user.email }}</td>
        <td class="project-user-role">{{ role.role|title }}</td>
        <td>{{ user.date_joined|date:"M j, Y" }}</td>
        <td>{{ user.last_login|date:"M j, Y" }}</td>
        <td>{{ user.is_active }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if roster_formset %}
    <div>
      <input class="btn" type="submit" value="Save roster" />
    </div>
  </form>
  {% endif %}

  {% if invitation_formset %}
  <form class="project-invitations form-inline" method="post">
    {% csrf_token %}
    <legend>Project invitations</legend>
    {{ invitation_formset.management_form }}

    {% if invitation_formset|length > 1 %}
      <h5>Existing invitations</h5>
      <ol>
    {% endif %}

    {% for form in invitation_formset %}
    {% if forloop.last and invitation_formset|length > 1 %}</ol>{% endif %}
    <div class="project-invitation">

      {% if form.errors %}
      <div class="alert alert-error">
        {% for field in form %}
        {% if field.errors %}
        <p><strong>{{ field.label }}</strong>: {{ field.errors|striptags }}</p>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}

      {{ form.id }}
      {{ form.project.as_hidden }}

      {% if not forloop.last %}

        <li>
          Invited {{ form.instance.created|date:"F d, Y" }}: 
          {{ form.email.value }}
          {{ form.email.as_hidden }} {{ form.project_role.as_hidden }}
          &nbsp;
          <label for="{{ form.DELETE.auto_id }}"><strong>Delete?</strong> {{ form.DELETE }}</label>
        </li>

      {% else %}
        
        <h5>New invitation</h5>

        <p style="margin-left: 10px;">
          <label for="{{ form.email.auto_id }}">Email: </label> {{ form.email }}
          &nbsp;
          <label for="{{ form.project_role.auto_id }}">Project Role: </label> {{ form.project_role }}
          &nbsp;
        </p>

      {% endif %}

    </div>
    {% endfor %}
    <button type="submit" class="btn">Save invitations</button>
  </form>
  {% endif %}


{% endblock %}
