{% extends "admin_base.html" %}

{% load display %}

{% block page_title %}
<h3>{% if form.instance.id %}Change {% else %}Add {% endif %}topic</h3>
{% endblock %}

{% block admin %}
  <form method="post" class="form-horizontal">{% csrf_token %}

    {% include "includes/bootstrap_errors.html" with errors=form.non_field_errors %}

    {% if not form.instance.pk and form.instance.topic_node_id %}
    <div class="well">
      Connecting to topic node {{ form.instance.topic_node|as_link }}
    </div>
    {% endif %}

    <fieldset name="preferred_name_fields">
      <legend>Name</legend>
      {% include "includes/bootstrap_errors.html" with errors=form.preferred_name.errors %}
      <div class="fieldset-content">
        {{ form.preferred_name }}
      </div>
    </fieldset>

    <fieldset name="type_fields">
      <legend>Type</legend>
      {% include "includes/bootstrap_errors.html" with errors=form.type.errors %}
      <div class="fieldset-content">
        {{ form.topic_type }}
      </div>
    </fieldset>

    {% with formset=formsets.alternatename %}
    <fieldset name="alternate_forms_fields">
      <legend>Alternate forms</legend>
      {% include "includes/bootstrap_formset.html" %}
    </fieldset>
    {% endwith %}

    {% comment %}
    {% with formset=formsets.topicassignment %}
    <fieldset name="related_topics_fields" class="related-topics">
      <legend>Related topics</legend>
      {% include "includes/bootstrap_formset.html" %}
    </fieldset>
    {% endwith %}
    {% endcomment %}

    <fieldset name="article_fields">
      <legend>Article</legend>
      {% include "includes/bootstrap_errors.html" with errors=form.summary.errors %}
      <div class="fieldset-content article">
        {% include "includes/wysihtml5_full_toolbar.html" with toolbar_id="summary-toolbar" %}
        {{ form.summary }}
      </div>

      <div class="article-citations" style="margin: 1em .5em;">
        <legend>Citations</legend>
        {% include "includes/citation_formset.html" with citations_formset=formsets.citation %}
        <button type="button" class="btn btn-primary" id="add-citation">Add citation</a>
      </div>

  </fieldset>

  <hr />

  <button type="submit" class="btn">Save</button>

  </form>
{% endblock %}
