{% extends "admin_base.html" %}

{% block page_title %}
<h3>{% if form.instance.id %}Change {% else %}Add {% endif %}topic</h3>
{% endblock %}

{% block admin %}
  <form method="post" class="form-horizontal">{% csrf_token %}

    {% include "includes/bootstrap_errors.html" with errors=form.non_field_errors %}

    <fieldset>
      <legend>Project</legend>
      <div class="fieldset-content">
        {{ project }}
      </div>
    </fieldset>

    <fieldset name="preferred_name_fields">
      <legend>Name</legend>
      {% include "includes/bootstrap_errors.html" with errors=form.preferred_name.errors %}
      <div class="fieldset-content">
        {{ form.preferred_name }}
      </div>
    </fieldset>

    <fieldset name="type_fields">
      <legend>Type</legend>
      {% include "includes/bootstrap_errors.html" with errors=form.type.errors %}
      <div class="fieldset-content">
        {{ form.topic_type }}
      </div>
    </fieldset>

    {% with formset=formsets.alternatename %}
    <fieldset name="alternate_forms_fields">
      <legend>Alternate forms</legend>
      {% include "includes/bootstrap_formset.html" %}
    </fieldset>
    {% endwith %}

    {% with formset=formsets.topicassignment %}
    <fieldset name="related_topics_fields" class="related-topics">
      <legend>Related topics</legend>
      {% include "includes/bootstrap_formset.html" %}
    </fieldset>
    {% endwith %}

    <fieldset name="article_fields">
      <legend>Article</legend>
      {% include "includes/bootstrap_errors.html" with errors=form.summary.errors %}
      <div class="fieldset-content article">
        {% include "includes/wysihtml5_full_toolbar.html" with toolbar_id="summary-toolbar" %}
        {{ formsets.topicsummary.0.content }}
      </div>

      <div class="article-citations" style="margin: 1em .5em;">
        <h4>Citations</h4>
        {% include "includes/citation_formset.html" with citations_formset=formsets.citation %}
        <a href="#" id="add-citation">Add citation</a>
      </div>

  </fieldset>

  <button type="submit" class="btn btn-primary">Save</button>

  </form>
{% endblock %}
