*.bak
*.pyc
*.pyo
*.tar.gz
*.webloc
*.swp

.DS_Store
.Python
.project
.pydevproject
.settings
.svn
.tmp*

bin/*
build/*
lib/*
local
local/*
include/*
share/*
src/*
static/*
uploads/*
node_modules/*

secret.txt
settings_local.py
editorsnotes/templates/*.txt
