*.bak
*.pyc
*.pyo
*.tar.gz
*.webloc
*.swp

.DS_Store
.Python
.project
.pydevproject
.settings
.svn
.tmp*

pip-selfcheck.json

bin/*
build/*
lib/*
local
local/*
man/*
include/*
share/*
src/*
static/*
uploads/*

secret.txt
settings_local.py
