*.bak
*.pyc
*.pyo
*.tar.gz
*.webloc
*.swp
.DS_Store
.Python
.project
.pydevproject
.settings
.svn
.tmp*
bin
build
dev.db
include
lib
secret.txt
settings_local.py
settings-*.py
searchindex
share
src
/static
uploads
topic-list.txt
document-list.txt
fabfile_local.py
vhost-editorsnotes.local.conf
editorsnotes/templates/*.txt
