# Installed using pip
Django==1.2
South==0.7
django-haystack==1.0.1-final
django-reversion==1.2.1
lxml==2.2.4
isodate==0.4.0
xapian-haystack==1.1.3beta

# Symlinks to system packages
# symlink: _xapian.so
# symlink: xapian.py
# symlink: xapian.pyc
# symlink: xapian.pyo
# symlink: psycopg2
