# Django-specific packages
Django==1.9.4
django-licensing==1.0.1
django-reversion==1.10.1
django-widget-tweaks==1.4.1
djangorestframework==3.3.3
django-cors-headers==1.1.0

# Testing/Development
ipython==4.0.0
django-nose==1.4.2
nose==1.3.7

# Everything else
cssselect==0.8
elasticsearch-dsl==0.0.8
lxml==3.0.2
Pillow==2.3.0
psycopg2==2.6.1
pyelasticsearch==0.6
pytz==2012h
PyLD==0.7.0
rdflib==4.2.1
rdflib-jsonld==0.3
requests===2.8.1
