{% extends "base.html" %}

{% load static %}

{% block title %}: Sign in{% endblock %}

{% block css %}
<style type="text/css">

  form {
    margin-bottom: 0px;
  }

  #login > .row {
    border-color: #ccc;
    border-width: 1px 0 1px;
    border-style: solid;
  }

  #all-login-methods {
    margin-left: 18px;
    border-left: 1px solid #ccc
  }

  #invitation-notice p {
    text-align: justify;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 28px;
    width: 95%;
    position: relative;
    top: 114px;
  }

  .login-method {
    padding: 28px;
    font-size: 12px;
  }
  .login-method > p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    margin-bottom: 1.25em;
  }

  #persona-login {
    border-bottom: 1px solid #ccc;
  }

  #name-pass-login input {
    margin-bottom: 0px;
  }
  #name-pass-login button {
    margin-top: 4px;
  }

</style>
{% endblock %}

{% block css_nocompress %}
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div id="login">

  {% if request.GET.bid_login_failed %}
    <p>
    Attempting to sign in...
    </p>
  {% else %}

  {% if form.errors %}
  <div class="alert alert-error">
    Your username and password didn't match. Please try again.
  </div>
  {% endif %}

  {% if request.GET.bad_email %}
  <div class="alert alert-error">
    Failed to log in with given email.
  </div>
  {% endif %}

  <h3>Sign in</h3>

  <div class="row">

    <div id="invitation-notice" class="span6">
      <p>New accounts are currently open only by invitation. If you have not received an invitation and would like to use Editors' Notes, <a href="/about/">send us a message</a>.</p>
    </div>

    <div id="all-login-methods" class="span6">
      <div class="login-method" id="persona-login">
        <p>
          Sign in using your email with <a href="https://login.persona.org/about">Mozilla Persona</a>.
        </p>
        <div class="browserid-login-container">
          <a class="browserid-login" href="{% url django.contrib.auth.views.login %}">
            <img src="{% static "style/icons/plain_sign_in_black.png" %}">
          </a>
          <form method="post" action="{% url browserid_verify %}">
            {% csrf_token %}
            {{ browserid_form.as_p }}
          </form>
        </div>
      </div>
      <div class="login-method" id="name-pass-login">
        <p>
        Alternately, use your username and password.
        </p>
        <form method="post" action="{% url django.contrib.auth.views.login %}">
          {% csrf_token %}
          <fieldset>
            <p>
              <label>Username</label> {{ form.username }}
            </p>

            <p>
              <label>Password</label> {{ form.password }}
            </p>

            <p>
              <button type="submit">Submit</button>
            </p>
          </fieldset>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>  
      </div>
    </div>

  </div>

  {% endif %}

</div>
{% endblock %}
