{% extends "base.html" %}

{% block title %}Login to Editor's Notes{% endblock %}

{% block body %}
    {% if form.errors %}
    <div class="error">Your username and password didn't match. Please try again.</div>
    {% endif %}

    <form method="post" action="{% url django.contrib.auth.views.login %}">
      <fieldset>
        <legend>Login</legend>
        <p>
          {{ form.username.label_tag }}<br/>
          {{ form.username }}
        </p>
        <p>
          {{ form.password.label_tag }}<br/>
          {{ form.password }}
        </p>
        <p>
          <input type="submit" value="login"/>
        </p>
      </fieldset>
      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}
    </form>  
{% endblock %}
