{% extends "base.html" %}

{% block css %}
<style type="text/css">
  td { vertical-align: middle !important; }
  select { margin-bottom: 0px !important; }
</style>
{% endblock %}

{% block js %}
{% if formset %}
<script type="text/javascript">
  $(document).ready(function () {
    $('.project-user-form').each(function () {
      var $this = $(this)
        , thisId = $this.find('input[name$="id"]').val()

      if (thisId == {{ request.user.id }}) {
        return;
      }

      $('.project-user-role', '#project-user-' + thisId)
        .html($this.find('select'))

    });
  });
</script>
{% endif %}
{% endblock %}

{% block content %}

  {% if formset %}
  <form method="post">
    <div style="display: none;">
      {% csrf_token %}
      {{ formset.management_form }}

      {% for form in formset.forms %}
      <div class="project-user-form">
        {{ form.id }}
        {{ form.project_role }}
      </div>
      {% endfor %}
    </div>
  {% endif %}

  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Joined</th>
        <th>Last login</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      {% for profile, role in roster %}
      {% with user=profile.user %}
      <tr id="project-user-{{ user.id }}">
        <td>{{ profile.as_text }}</td>
        <td>{{ user.email }}</td>
        <td class="project-user-role">{{ role|title }}</td>
        <td>{{ user.date_joined|date:"M j, Y" }}</td>
        <td>{{ user.last_login|date:"M j, Y" }}</td>
        <td>{{ user.is_active }}</td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>

  {% if formset %}
    <div>
      <a class="btn">Add user</a>
      <input class="btn pull-right" type="submit" value="Save" />
    </div>
  </form>
  {% endif %}

{% endblock %}
