{% extends "base.html" %}

{% load typogrify display %}

{% block css %}
<style type="text/css">
  .topic-cluster {
    padding: 8px;
    border: 1px solid #aaa;
    margin: 4px;
  }
  .topic-cluster > * {
    display: block-inline;
  }
</style>
{% endblock %}

{% block content %}
  <h3>Topic Clusters</h3>
  <p>Viewing {{ start }}-{{ end }} of {{ total_clusters }}
    {% if previous >= 0 %} <a href="{{ request.path }}?start={{ previous }}"> &lt;&lt; Previous </a>{% endif %}
    {% if next %} <a href="{{ request.path }}?start={{ next }}">Next &gt;&gt;</a>{% endif %}
  </p> 
    {% for cluster in clusters %}
    <div class="topic-cluster span4" >
      <ol>
      {% for topic in cluster.topics.all %}
        <li>{{ topic|as_link|typogrify }}</li>
      {% endfor %}
      </ol>
      <a href="{% url merge_topic_cluster_view cluster.id %}">Review</a>
    </div>
    {% endfor %}
{% endblock %}
