{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: Topic Facts{% endblock %}

{% block js %}
    <script type="text/javascript">
      $(function() {
        $('#tabs').tabs();
      });
    </script>
{% endblock %}

{% block content %}
<header>
  <h2>Topics with Facts</h2>
</header>

<div id="tabs" class="span-24 last">
  <ul>
    <li><a href="#candidates-topics">Candidates</a></li>
    <li><a href="{{ request.path }}?type=accepted">Accepted</a></li>
  </ul>

  {% with '#facts' as fragment %}
  {% include "topic-columns.include" %}
  {% endwith %}
</div>
{% endblock %}
