<h2>Scans</h2>
<div id="scanlist-container">                                                                  
  <ul id="scan-list">                                                                          
    <% scans.forEach(function (scan, idx) { %>
    <li><a class="scan btn"
      href="<%= scan.image %>"
      data-height="<%= scan.height %>"
      data-width="<%= scan.width %>"><%= idx + 1 %></a></li>
    <% }); %>
  </ul>                                                                                        
</div>   
<div id="scan-viewer2"></div>
