<div class="modal add-document-modal hide form-horizontal row span10">
  <div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true">&times;</button>
    <h3>Add document</h3>
  </div>
  <div class="document-description modal-header">
    <textarea style="width: 98%; height: 50px;"></textarea>
  </div>
  <div class="modal-body">
    <div class="zotero-information-edit">Loading...</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary save-document">Save</a>
  </div>
</div>
