<div id="section-add-bar-container">
  <div id="citation-edit-bar">
    <h4>Add section
    <a title="Drag new sections to the area below in order to add to this note."
      data-toggle="tooltip" href="#"><i class="fa fa-question-circle"></i></a>
   </h4>
    <div class="add-section" data-section-type="citation">
      <i class="section-drag-handle fa fa-ellipsis-v"></i>
      <i class="section-icon fa fa-file-text-o"></i> Citation
    </div>
    <div class="add-section" data-section-type="text">
      <i class="section-drag-handle fa fa-ellipsis-v"></i>
      Text
    </div>
    <div class="add-section" data-section-type="note_reference">
      <i class="section-drag-handle fa fa-ellipsis-v"></i>
      <i class="section-icon fa fa-pencil"></i> Note reference
    </div>
    <span class="status-message">All changes saved.</span>
    <img class="loader" src="/static/style/icons/ajax-loader.gif">
  </div>
</div>
<div class="note-section-list"></div>
