<header>
  <h3>Title</h3>
  <div data-error-target="title"></div>
  <input maxlength="80" id="note-title" type="text" />
</header>
<section id="note-details">
  <div id="note-about">
    <div id="note-status">
      <strong>This note is </strong>
      <select name="note-status"></select>
    </div>
    <div id="note-related-topics">
      <span>Related topics</span>
    </div>
  </div>

  <dl id="note-authorship">
    <dt>Private</dt>
    <dd><select id="note-private"></select></dd>
  </dl>
</section>
<section id="note-description" data-error-target="content"><%= note.get('content') || '<div></div>' %></section>
<section id="note-sections"></section>
