<div <% if (id) { print('id="' + id + '"') } %> class="btn-toolbar wysihtml5-toolbar">
  <div class="btn-group">
    <a class="btn" data-wysihtml5-command="bold">
      <i class="icon-bold"></i>
    </a>
    <a class="btn" data-wysihtml5-command="italic">
      <i class="icon-italic"></i>
    </a>
  </div>
  
<% if (type !== "minimal" ) { %>
  <div class="btn-group">
    <a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">
      <strong>P</strong>
    </a>
    
    <a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">
      <strong>H1</strong>
    </a>
    
    <a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">
      <strong>H2</strong>
    </a>
    
    <a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">
      <strong>H3</strong>
    </a>
    
    <a class="btn" data-wysihtml5-command="insertOrderedList">
      <i class="icon-list-ol"></i>
    </a>
    
    <a class="btn" data-wysihtml5-command="insertUnorderedList">
      <i class="icon-list-ol"></i>
    </a>
  </div>
<% } %>
</div>
