{% extends "base.html" %}

{% block title %}Search Editors' Notes{% endblock %}

{% block content %}
<div id="searchresults">
{% if query %}
  {% if page.object_list %}
  <p id="message">Search results for <em>{{ query }}</em>:</p> 
  <ol id="results">
    {% for result in page.object_list %}
    <li><a href="{{ result.object.get_absolute_url }}">{{ result.object.excerpt }}</a></li>
    {% endfor %}
  </ol>
  {% else %}
  <p id="message">No results for <em>{{ query }}</em>.</p> 
  {% endif %}
</div>
{% endif %}

{% endblock %}