{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: All Documents{% endblock %}

{% block content %}
<header>
  <h2>All Documents</h2>
</header>

{% regroup sources by first_letter as alpha_list %}

<section id="all-sources" class="span-23 last">
<p>Documents in bold have scans or annotated transcripts.</p>
<ul class="alpha-list">
  {% for letter in alpha_list %}
  <li id="{{ letter.grouper }}">
    <span class="alpha-index">{{ letter.grouper }}</span>
    <ul class="alpha-items">
      {% for item in letter.list %}
      <li>{{ item.source|as_link|typogrify }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
</section>
{% endblock %}
