{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: All Topics{% endblock %}

{% block js %}
    <script type="text/javascript">
      $(function() {
        var tabs = $('#tabs a[data-toggle="tab"]');
        tabs.on('shown', function(e) {
          var targetPanel = $(e.target.hash);
          if (! targetPanel.hasClass('loaded') ){
            t = e.target.hash.slice(8);
            $.get('?type=' + t, function(data) {
              targetPanel.html(data);
              targetPanel.addClass('loaded');
            });
          }
        });
      });
    </script>
{% endblock %}

{% block content %}
<header>
  <h2>All Topics</h2>
</header>

<ul id="tabs" class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#topics-PER">People</a></li>
  <li><a data-toggle="tab" href="#topics-ORG">Organizations</a></li>
  <li><a data-toggle="tab" href="#topics-PUB">Publications</a></li>
  <li><a data-toggle="tab" href="#topics-EVT">Events</a></li>
  <li><a data-toggle="tab" href="#topics-">Uncategorized</a></li>
</ul>

<div class="tab-content">
  <section class="tab-pane loaded active" id="topics-PER">
    {% with '' as fragment %}
    {% include "topic-columns.include" %}
    {% endwith %}
  </section>
  <section class="tab-pane" id="topics-ORG">
  </section>
  <section class="tab-pane" id="topics-PUB">
  </section>
  <section class="tab-pane" id="topics-EVT">
  </section>
  <section class="tab-pane" id="topics-">
  </section>
</div>

{% endblock %}
