{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: All Topics{% endblock %}

{% block js %}
    <script type="text/javascript">
      $(function() {
        $('#tabs').tabs();
      });
    </script>
{% endblock %}

{% block content %}
<header>
  <h2>All Topics</h2>
</header>

<div id="tabs" class="span-24 last">
  <ul>
    <li><a href="#PER-topics">People</a></li>
    <li><a href="{{ request.path }}?type=ORG">Organizations</a></li>
    <li><a href="{{ request.path }}?type=PUB">Publications</a></li>
    <li><a href="{{ request.path }}?type=EVT">Events</a></li>
    <li><a href="{{ request.path }}?type=">Uncategorized</a></li>
  </ul>

  {% include "topic-columns.include" %}

</div>
{% endblock %}
