{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: All Notes{% endblock %}

{% block js %}
<script type="text/javascript">
  $(function() {
    var $facets = $('#note-facets input');
    $facets.prop('checked', false);
    $facets.live('click', function() {
      var $checked = $('#note-facets input:checked');
      var queryString = '?filter=1'
      var filter = {project : [], topic: []}

      $.each($checked, function(key, val) {
        filter[val.name].push(val.value);
      });
      $.each(filter, function(key, val) {
        if (val.length > 0) {
          queryString += ('&' + key + '=' + val.join(','))
        }
      });

      $.get(queryString, function(data) {
        $('#all-notes').html(data);
        $.each($checked, function(key, val) {
          $('#note-facets input[name="' + val.name + '"][value="' + val.value + '"]')
            .prop('checked', true);
        });
      });

    });

    $('.facet-title').live('click', function() {
      $(this).find('i').toggleClass('icon-plus').toggleClass('icon-minus');
      $('.facets').slideToggle('fast');
    })
    
  });
</script>
{% endblock %}

{% block content %}
<header>
  <h2>All Notes</h2>
</header>

<section id="all-notes">
  {% include "filtered-notes.html" %}
</section>
{% endblock %}
