{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: All Notes{% endblock %}

{% block content %}
<header>
  <h2>All Notes</h2>
</header>

<section id="all-notes" class="span-23 last">
<div class="span-11 colborder">
<ul class="all-topic-list">
  {% for topic in notes_by_topic_1 %}
  <li id="{{ topic.slug }}">
    <span class="topic-index">{{ topic.name }}</span>
    <ul class="topic-items">
      {% for note in topic.notes %}
      <li>{{ note|as_link|typogrify }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
</div>
<div class="span-11 last">
<ul class="all-topic-list">
  {% for topic in notes_by_topic_2 %}
  <li id="{{ topic.slug }}">
    <span class="topic-index">{{ topic.name }}</span>
    <ul class="topic-items">
      {% for note in topic.notes %}
      <li>{{ note|as_link|typogrify }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
</div>
</section>
{% endblock %}
