{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: {{ document }}{% endblock %}

{% block css %}
<style type="text/css">
  #footnotediv {
    background-color: white;
    border: 1px solid #CDBBB5;
    -webkit-box-shadow: #555 0px 0px 10px;
    padding: 10px;
    margin: 0 auto 0 auto;
  }
  #footnotediv p {
    margin: 0;
  }
</style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}function/seadragon/seadragon-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}function/jquery/jquery.ellipsis.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}function/document.js"></script>
{% endblock %}

{% block content %}

    <header>
      <h3>{{ document.description|as_html|typogrify }}</h3>
      <div class="related-topics">
        {% if topics %}
        <span class="quiet">Related topics:</span> 
        <ul class="topic-list unstyled">
          {% for topic in topics %}
          <li>
            <a href="{{ topic.get_absolute_url }}">
              {{ topic.preferred_name }}
            </a>
            {% if not forloop.last %} | {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>    
    </header>

      <ul id="tabs" class="nav nav-tabs">
        <li class="active"><a href="#info-tab">Info</a></li>

        {% if document.has_parts %}
        <li><a href="#parts-tab">Parts</a></li>
        {% endif %}

        {% if scans %}
        <li><a href="#scans-tab">Scans</a></li>
        {% endif %}

        {% if document.transcript %}
        <li><a href="#transcript-tab">Transcript</a></li>
        {% endif %}

        <li><a href="#notes-tab">Related Notes <span class="alt">&amp;</span> Queries</a></li>
      </ul>

      <div class="tab-content">
        <section id="info-tab" class="tab-pane active">
          <div id="zotero">
            {% if zotero_data %}
              {% include "item-information.include" %}
            {% else %}
            <p>This document has no connected Zotero data.</p>
            {% endif %}
          </div>
          <a class="btn edit-button" href="{{ document.get_admin_url }}?return_to={{ document.get_absolute_url }}">Edit</a>

          <div>

            {% if document.has_links %}
            {% for link in document.links.all %}
            {{ link }}
            {% endfor %}
            {% endif %}

          </div>

        </section>

        {% if document.has_parts %}
        <section id="parts-tab" class="tab-pane">
          <div id="scanlist-container">
            <ul id="parts-list">
              {% for part in document.parts.all %}
              <li>{{ part|as_link }}</li>
              {% endfor %}
            </ul>
          </div>
          <a class="btn" href="{{ document.get_admin_url }}?return_to={{ document.get_absolute_url }}">Edit</a>
        </section>
        {% endif %}

        {% if scans %}
        <section id="scans-tab" class="tab-pane">
          <div id="scanlist-container">
            <ul id="scan-list">
              {% for scan in scans %}
              <li>
                <a class="scan btn"
                  href="http://{{ domain }}{{ scan.image.url }}">
                  {{ forloop.counter }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

          <br/>

          <div id="scan-viewer" style="height: 500px;"></div>
          <div id="progress-notify">
            <span id="progress-message">Loading scanned document...</span>
            <div id="progressbar"></div>
          </div>
        </section>
        {% endif %}

        {% if document.transcript %}
        <section id="transcript-tab" class="tab-pane">
          {% if document.transcript %}
          <article id="transcript-{{ document.transcript.id }}" class="transcript">
            <div id="transcript-content">
              {{ document.transcript.content|as_html|typogrify }}
            </div>
            <div id="transcript-notes">
              {% for note in document.transcript.footnotes.all %}
              <div id="note-{{ note.id }}" class="transcript-note">
                {{ note.content|as_html|typogrify }}
                <a href="{{ note.get_absolute_url }}">More information about this footnote</a>
              </div>
              {% endfor %}
            </div>
            <div>
              <a class="btn" href="{{ document.transcript.get_admin_url }}?return_to={{ document.get_absolute_url }}">Edit</a>
              <div class="edit-history">
                {{ document.transcript|display_edit_history }}
              </div>
            </div>
          </article>
          {% else %}
          <p>This document has not been transcribed.</p>
          <a class="btn edit-button" href="{% url admin:main_transcript_add %}?document={{ document.id }}&amp;return_to={{ document.get_absolute_url }}">Edit</a>
          {% endif %}
        </section>
        {% endif %}

        <section id="notes-tab" class="tab-pane">
          {% if notes %}
          <ul id="collapse">
            {% for note, topics, cites in notes %}
              {% include "note.include" %}
              {% if forloop.last %}{% else %}<hr/>{% endif %}
            {% endfor %}
          </ul>
          {% else %}
          <p>There are no notes or queries citing this document.</p>
          {% endif %}
        </section>
      </div>
{% endblock %}
