{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: {{ document }}{% endblock %}

{% block css %}
<style type="text/css">
  #footnotediv {
    background-color: white;
    border: 1px solid #CDBBB5;
    -webkit-box-shadow: #555 0px 0px 10px;
    padding: 10px;
    margin: 0 auto 0 auto;
  }
  #footnotediv p {
    margin: 0;
  }
</style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://seadragon.com/ajax/0.8/seadragon-min.js"></script>
    <script type="text/javascript" src="/media/function/jquery.ellipsis.js"></script>
    <script type="text/javascript" src="/media/function/document.js"></script>
    <script type="text/javascript" src="/media/function/jquery.collapse.js"></script>

    <script type="text/javascript">
      $(function() {
        $('#collapse').jqcollapse({ slide: true, speed: 300, easing: '' });
      });
    </script>

{% endblock %}

{% block content %}
    <header>
      <h3>{{ document.description|as_html|typogrify }}</h3>
      {% if document.collection %}<p>Part of {{ document.collection|as_link }}</p>{% endif %}
      <div class="related-topics">
        {% if topics %}
        <span class="quiet">Related topics:</span> 
        <ul class="topic-list">
          {% for topic in topics %}
          <li><a href="{{ topic.get_absolute_url }}">{{ topic.preferred_name }}</a>{% if not forloop.last %}, {% endif %}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>    
    </header>

    <div id="tabs" class="span-24 last">
      <ul>
        {% if document.has_parts %}
        <li><a href="#parts">Parts</a></li>
        {% endif %}
        <li><a href="#scans">Scans</a></li>
        <li><a href="#transcript">Transcript</a></li>
        <li><a href="#notes">Related Notes <span class="alt">&amp;</span> Queries</a></li>
      </ul>

      {% if document.has_parts %}
      <section id="parts" class="span-23 last">
        <div id="scanlist-container">
          <ul id="parts-list">
            {% for part in document.parts.all %}
            <li>{{ part|as_link }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="span-2 last">
          <a class="button" href="{{ document.get_admin_url }}?return_to={{ document.get_absolute_url }}">Edit</a>
        </div>
      </section>
      {% endif %}

      <section id="scans" class="span-23 last">
        {% if scans %}
        <div id="scanlist-container">
        <ul id="scan-list">
          {% for scan in scans %}
          <li><a class="scan button" href="http://{{ domain }}{{ scan.image.url }}">{{ forloop.counter }}</a></li>
          {% endfor %}
        </ul>
        </div>
        <br/>
        <div id="scan-viewer"></div>
        <div id="progress-notify">
          <span id="progress-message">Loading scanned document...</span>
          <div id="progressbar"></div>
        </div>
        {% else %}
        <div class="span-23 last">
          {% if document.has_links %}
          This document has not been scanned, but it (or information about how to find it) is available online elsewhere:
            <ul>
            {% for link in document.links.all %}
            <li><a href="{{ link.url }}">{{ link.url }}</a></li>
            {% endfor %}
            </ul>
          {% else %}
          This document has not been scanned.
          {% endif %}
        </div>
        {% endif %}
        <div class="span-2 last">
          <a class="button" href="{{ document.get_admin_url }}?return_to={{ document.get_absolute_url }}">Edit</a>
        </div>
      </section>

      <section id="transcript" class="span-23 last">
        {% if document.transcript %}
        <article id="transcript-{{ document.transcript.id }}" class="transcript">
          <div id="transcript-content" class="span-23 last">
            {{ document.transcript.content|as_html|typogrify }}
          </div>
          <div id="transcript-notes" class="span-23 last">
            {% for note in document.transcript.footnotes.all %}
            <div id="note-{{ note.id }}" class="transcript-note">
              {{ note.content|as_html|typogrify }}
              <a href="{{ note.get_absolute_url }}">More information about this footnote</a>
            </div>
            {% endfor %}
          </div>
          <div class="span-23 last">
            <a class="button" href="{{ document.transcript.get_admin_url }}?return_to={{ document.get_absolute_url }}">Edit</a>
            <div class="edit-history">
              {{ document.transcript|display_edit_history }}
            </div>
          </div>
        </article>
        {% else %}
        <div class="span-23 last">
          This document has not been transcribed.
        </div>
        <div class="span-2 last">
          <a class="button" href="{% url admin:main_transcript_add %}?document={{ document.id }}&amp;return_to={{ document.get_absolute_url }}">Edit</a>
        </div>
        {% endif %}
      </section>

      <section id="notes" class="span-23 last">
        {% if notes %}
	    <ul id="collapse">
          {% for note, topics, cites in notes %}
            {% include "note.include" %}
            {% if forloop.last %}{% else %}<hr/>{% endif %}
          {% endfor %}
        </ul>
        {% else %}
          There are no notes or queries citing this document.
        {% endif %}
      </section>
    </div>
{% endblock %}
