{% load display %}

<div class="row" id="note-facets">
  <div class="span12">
    <h3 style="cursor: pointer; cursor: hand" class="facet-title">
      Filters
      <i style="vertical-align: baseline;" class="icon-{% if filtered %}minus{% else %}plus{% endif %}"></i>
    </h3>
  </div>
  <div class="facets {% if not filtered %}hide{% endif %}">
    <div class="span12" id="note-facets-project">
      <h6>Project</h6>
      <ul class="unstyled">
      {% for project in project_facets %}
      <li>
        <input type="checkbox" name="project" value="{{ project.term }}">&nbsp;
        {{ project.term }} ({{ project.count }})
      </li>
      {% endfor %}
      </ul>
    </div>
    <div class="span12" id="note-facets-project">
      <h6>Status</h6>
      <ul class="unstyled">
      {% for status in status_facets %}
      <li>
        <input type="checkbox" name="note_status" value="{{ status.term }}">&nbsp;
        {{ status.term|title }} ({{ status.count }})
      </li>
      {% endfor %}
      </ul>
    </div>
    <div class="span12" id="note-facets-topic">
      <h6>Topics</h6>
      <ul class="span6 unstyled">
      {% for topic in topic_facets_1 %} 
        <li>
          <input type="checkbox" name="topic" value="{{ topic.term }}">&nbsp;
          {{ topic.term }}&nbsp;({{ topic.count }})
        </li>
      {% endfor %}
      </ul>
      <ul class="span6 unstyled">
      {% for topic in topic_facets_2 %} 
        <li>
          <input type="checkbox" name="topic" value="{{ topic.term }}">&nbsp;
          {{ topic.term }}&nbsp;({{ topic.count }})
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span12" id="sort-options">
    Sort by:
    <span class="sort-option sort-option-selected" sort-by="title" sort-order="asc">
      <span class="sort-option-title">Title</span>
      <i class="icon-chevron-down"></i>
    </span>
    <span class="sort-option" sort-by="date" sort-order="desc">
      <span class="sort-option-title">Date modified</span>
      <i class="icon-chevron-down"></i>
    </span>
  </div>

  <div class="span12 row">
    <ul class="unstyled span6" id="note-list-1">
    {% for note in notes %}
      <li class="note" date-modified="{{ note.last_updated }}">
        <a href="{{ note.url }}">{{ note.title }}</a>
      </li>
    {% endfor %}
    </ul>
    <ul class="unstyled span6" id="note-list-2">
    </ul>
  </div>

</div>
