{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
    <section id="topics" class="span-14 colborder">
      <h3>Topics</h3>
      <div class="span-7">
        {% if topic_list_1 %}
        <ul>
          {% for topic in topic_list_1 %}
          <li><a class="subtle" href="{{ topic.get_absolute_url }}">{{ topic }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="span-7 last">
        {% if topic_list_2 %}
        <ul>
          {% for topic in topic_list_2 %}
          <li><a class="subtle" href="{{ topic.get_absolute_url }}">{{ topic }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </section>
    <section id="activity" class="span-9 last">
      <h3>Recent Activity</h3>
      {% if activity %}
      <ul>
      {% for entry in activity %}
      <li>{{ entry.who|safe }} edited a {{ entry.what|safe }} {{ entry.when|safe }}.</li>
      {% endfor %}
      </ul>
      {% endif %}
    </section>
{% endblock %}
