{% extends "base.html" %}

{% load typogrify display %}

{% block title %}{% endblock %}

{% block content %}
    <section id="user-activity" class="span-24 last">
      <h3>Your Recent Edits</h3>
      <ul class="activity-log">
        {% for entry in user_activity %}
        <li class="activity-log-entry">
          {% filter typogrify %}
          {{ entry.what|as_link }}
          <span class="quiet">{{ entry.when|timeago }}</span>
          {% endfilter %}
        </li>
        {% empty %}
        <li>You haven't edited anything yet.</li>
        {% endfor %}
        {% if user_activity %}
        <li><a class="more-link" href="{% url user_view request.user %}">All your edits</a></li>
        {% endif %}
      </ul>
    </section>
    <section id="documents" class="span-24 last">
      <h3>Recently Edited Documents</h3>
      <ul>
        {% for document in document_list %}
        <li>{{ document|as_link|typogrify }}</li>
        {% endfor %}
        {% if document_list %}
        <li><a class="more-link" href="{% url all_documents_view %}">All documents</a></li>
        {% endif %}      
      </ul>
    </section>
    <div class="span-24 last">
      <section id="topics" class="span-11 colborder">
        <h3>Recently Edited Topics</h3>
        <ul>
          {% for topic in topic_list %}
          <li>{{ topic|as_link|typogrify }}</li>
          {% endfor %}
          {% if topic_list %}
          <li><a class="more-link" href="{% url all_topics_view %}">All topics</a></li>
          {% endif %}      
        </ul>
      </section>
      <section id="notes" class="span-12 last">
        <h3>Recently Edited Notes</h3>
        <ul>
          {% for note in note_list %}
          <li>{{ note|as_link|typogrify }}</li>
          {% endfor %}
          {% if note_list %}
          <li><a class="more-link" href="{% url all_notes_view %}">All notes</a></li>
          {% endif %}      
        </ul>
      </section>
    </div>
{% endblock %}
