{% extends "base.html" %}
{% load typogrify display staticfiles %}

{% block title %}: {{ item.title }}{% endblock %}

{% block content %}
      <div id="note">

      <header><h2>{{ item.title|typogrify }}</h2></header>

      <section id="note-details">

        <div id="note-about">

          <div>
            <strong>This note is </strong>
            <span class="note-status-{{ item.status }}">{{ item.status }}</span>
          </div>

          <div id="note-related-topics">
            <span>Related topics</span>
            <ul class="unstyled">
              {% for topic in item.related_topics %}
              <li><a href="{{ topic.url }}">{{ topic.preferred_name }}</a></li>
              {% empty %}
              <span class="quiet">none</span>
              {% endfor %}
            </ul>
          </div>

        </div>

        <dl id="note-authorship" class="dl-horizontal">
          <dt>Project</dt>
          <dd><a href="{{ item.project.url }}">{{ item.project.name }}</a></dd>

          <dt>Private</dt> 
          <dd>
            {% if item.is_private %}Yes{% else %}No{% endif %}
          </dd>

          <dt>License</dt>
          <dd>
          <a class="license-link" href="{{ item.license.url }}" title="{{ item.license.name }}">
            {% for symbol in item.license.symbols %}<i class="license-symbol">{{ symbol }}</i>{% endfor %}
          </a>
          </dd>

          {% with authors=item.updaters %}
          <dt>Author{% if authors|length > 1 %}s{% endif %}</dt>
          <dd>
            <ul class="unstyled">
              {% for author in authors %}<li><a href="{{ author.url }}">{{ author.display_name }}</a></li>{% endfor %}
            </ul>
          </dd>
          {% endwith %}

          <dt>Last updated</dt>
          <dd>{{ item.last_updated }} (<a href="#">view history</a>)</dd>

        </dl>

        {% if can_edit %}
          <div class="row">
            <div class="span12 container" style="text-align: center; padding-top: 19px; border-top: 1px solid #ddd;">
              <a href="{{ item.url }} + 'edit/" class="btn btn-default">Edit note</a>
            </div>
          </div>
        {% endif %}

      </section>

      <section id="note-description">
        {{ item.content|safe }}
      </section>

      <section id="note-sections">

        {% for section in item.sections %}
        {% with section_template="includes/note_sections/"|add:section.section_type|add:".html" %}
          {% include  section_template %}
        {% endwith %}
        {% endfor %}
      </section>
    </div>

{% endblock %}
