{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: {{ note.title }}{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}function/jquery/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/note.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/wymeditor/jquery.wymeditor.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/zotero-localization.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/zotero-form-modal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/zotero-form-functions.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}function/citeproc-js/xmle4x.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/citeproc-js/xmldom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/citeproc-js/citeproc.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/citeproc-js/simple.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/wysihtml5/parser_rules.js"></script>

{% endblock %}

{% block css %}
<style type="text/css">
  .zotero-information-edit .control-group {
    margin-bottom: 0px !important;
  }
  #id_description {
    width: 90%;
    height: 50px;
  }
  .note-status {
    font-weight: bold;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
  .note-status-hibernating {
    color: black;
  }
  .note-status-open {
    color: green;
  }
  .note-status-closed {
    color: red;
  }
  .zotero-container {
    height: 355px;
    overflow-y: scroll;
  }
  
</style>
{% endblock %}

{% block content %}
    <header>
      <h2>{{ note.title|typogrify }}</h2>
      {% if topics %}
      <div class="related-topics">
        <span class="quiet">Related topics:</span> 
        <ul class="topic-list">
          {% for topic in topics %}
          <li>{{ topic|as_link }}{% if not forloop.last %} | {% endif %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </header>

    <ul id="tabs" class="nav nav-tabs">
      <li><a href="#about-tab">About</a></li>
      <li><a href="#note-tab">Note</a></li>
      <li><a href="#history-tab">History</a></li>
    </ul>

    <div class="tab-content">
      <section id="about-tab" class="tab-pane">
        <div class="note-status">
          Note status:
          {% if note.status == '0' %}<span class="note-status-closed">Closed</span>
          {% elif note.status == '1' %}<span class="note-status-open">Open</span>
          {% else %}<span class="note-status-hibernating">Hibernating</span>{% endif %}
        </div>

        {{ note.content|as_html }}

        {% if note.assigned_users.all %}
        <hr/>
        <strong>Assigned users:</strong>

        <div>
          <ul class="unstyled">
            {% for u in note.assigned_users.all %}
            <li>{{ u|as_link }}</li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        {% endif %}

          <br/>

          <div class="row edit-row">
            <div class="span6 edit-button">
              {% if request.user.is_authenticated %}
              <a class="btn" href="{% url admin:main_note_change note.id %}?return_to={{ note.get_absolute_url }}">Edit note details</a>
              <a class="btn" href="{% url note_sections note.id %}">Edit note content</a>
              {% endif %}
            </div>
            <div class="span6 edit-history">
              {{ note|display_edit_history }}
            </div>
          </div>

      </section>

      <section id="note-tab" class="tab-pane active">

      {% if note.sections.all %}
        <div class="sort">
          <ul class="unstyled">
            <li><span class="big">Sort by:</span></li>
            <li>
              <a href="#"
                 class="inactive ascending"
                 id="sort-by-date">
                 Date in document
                 <i class="ascending-icon icon-chevron-down"></i>
              </a></li>
          </ul>
        </div>
        <div id="note-sections">
        {% for section in note.sections.all %}
          <div class="note-section{% if section.document %} has-document{% endif %}{% if section.has_content %} has-content{% endif %}">
          {% if section.document %}
            <div class="note-section-document">
              <a href="{{ section.document.get_absolute_url }}"><i class="icon-file"></i></a>
              {{ section.document.as_html }}
            </div>
          {% endif %}
          {% if section.has_content %}
            <div class="note-section-content">
              {{ section.content|as_html }}
            </div>
          {% endif %}
          </div>
        {% endfor %}
        </div>
      {% else %}
        <span class="quiet">This note is empty</span>
      {% endif %}

      </section>

      <section id="history-tab" class="tab-pane">
        <p>{{ history|length }} revision{% if history|length == 1 %}{% else %}s{% endif %}; most recent listed first.</p>
        <ol>
        {% for version in history %}
          {% with fields=version.field_dict %}
          <li>
            {{ fields.last_updated|date }} by {{ fields.last_updater|user_from_id }}
            {% comment %}(<a href="history/?compare={{ version.revision_id }}">compare</a>){% endcomment %}
          </li>
          {% endwith %}
        {% endfor %}
        </ol>
      </section>
    </div>

{% endblock %}
