{% extends "base.html" %}

{% load display typogrify %}

{% block content %}
<h1>{{ project.name }}</h1>
<hr/>

{% if show_edit_row %}
<div class="well">
  {% if project_role %}
  <p>
  You are a member of this project, with the role: <strong>{{ project_role.role }}</strong>. You may perform the following actions.
  </p>
  {% endif %}
  <div>
    {% if can_change_roster or can_view_roster %}
    <a class="btn" href="{% url "admin:main_project_roster_change" project.slug %}">
      <i class="fa fa-user"></i>
      {% if can_change_roster %}Edit{% else %}View{% endif %} roster
    </a>
    {% endif %}

    {% if can_change_project %}
    <a class="btn" href="{% url "admin:main_project_change" project.slug %}">
      <i class="fa fa-pencil-square-o"></i>
      Edit project description
    </a>
    {% endif %}

    {% if can_change_featured_items %}
    <a class="btn" href="{% url "admin:main_featured_items_change" project.slug %}">
      <i class="fa fa-star"></i>
      Select featured items
    </a>
    {% endif %}

  </div>
</div>
{% endif %}

<div class="row">
  <div class="span6">
    {% if project.has_description %}
      {% if project.image %}
        <img align="left" style="margin: 0 10px 10px 0;" src="{{ project.image.url }}" />
      {% endif %}
      {{ project.description|as_html|typogrify }}
    {% else %}
      no project description
    {% endif %}
  </div>
  <div class="span6">
    {% with project.featureditem_set.all as featured_items %}
      {% if featured_items %}
        <h3>&#9733; Featured items</h3>
        {% for item in featured_items %}
        <ul class="unstyled model-item-list">
          <li><span class="model-label">{{ item.content_object|object_name}}:</span> {{ item.content_object|as_link }}</li>
        </ul>
        {% endfor %}
        <hr/>
      {% else %}
      {% endif %}

    {% endwith %}

    <h3>Recent edits</h3>
    {% include "includes/activity.html" %}
  </div>
</div>


{% endblock %}
