{% extends "base.html" %}

{% block title %}: Results for '{{ query }}'{% endblock %}

{% load highlight %}

{% block content %}
<div id="searchresults">
{% if query %}
  <p id="message">Search results for <em>{{ query }}</em>:</p>
  <section id="topics" class="span-11 colborder">
    <h3>Topics</h3>
    {% if topics %}
    <ol>
      {% for result in topics %}
      <li><a href="{{ result.object.get_absolute_url }}">{{ result.object.preferred_name }}</a></li>
      {% endfor %}
    </ol>
    {% else %}
    <p id="message">No topics matching <em>{{ query }}</em>.</p> 
    {% endif %}
  </section>
  <section id="notes" class="span-12 last">
    <h3>Notes</h3>
    {% if notes %}
      {% for result in notes %}
      <div class="searchresult">
        {% with result.object as note %}
          {% include "note_link.include" %}
        {% endwith %}
        <br/>
        {% highlight result.text with query %}
        {% with result.object as note %}
          {% include "note_topics.include" %}
        {% endwith %}
      </div>
      {% endfor %}
    {% else %}
    <p id="message">No notes matching <em>{{ query }}</em>.</p> 
    {% endif %}
  </section>
</div>
{% endif %}

{% endblock %}