{% extends "base.html" %}

{% block title %}: Results for '{{ query }}'{% endblock %}

{% load highlight display typogrify %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}function/facets.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      var facets = $('#results').facet({
        'fields': [
          {'key': 'model', 'label': 'Result type'}
        ],
        'itemSelector': '.searchresult'
      });
  });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}style/facets.css" type="text/css" />
<style type="text/css">
  .highlighted {
    background: #faa732;
    padding: 2px;
  }
  .searchresult > a * {
    display: inline;
  }
  .searchresult {
    margin-bottom: .75em;
  }
</style>
{% endblock %}

{% block content %}
<div id="searchresults" class="span-24 last">
{% if query %}
  {% if results %}
  <p id="message">Search results for <em>{{ query }}</em>:</p>
  <ol id="results" class="span-18 last">
    {% for result in results %}
    <li data-model="{{ result.verbose_name }}" class="searchresult">
      {{ result.verbose_name }}:
      {{ result.object|as_link }}
      <div>
        {% highlight result.text with query %}
      </div>
      {% if result.verbose_name == 'Note' %}
        {% with result.object as note %}
          {% include "note_topics.include" %}
        {% endwith %}
      {% endif %}
    </li>
    {% endfor %}
  </ol>
  {% else %}
  <p id="message">No results for <em>{{ query }}</em>.</p> 
  {% endif %}
</div>
{% endif %}

{% endblock %}
