{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: {{ source }}{% endblock %}

{% block css %}
<style type="text/css">
  #footnotediv {
    background-color: white;
    border: 1px solid #CDBBB5;
    -webkit-box-shadow: #555 0px 0px 10px;
    padding: 10px;
    margin: 0 auto 0 auto;
  }
  #footnotediv p {
    margin: 0;
  }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://seadragon.com/ajax/0.8/seadragon-min.js"></script>
<script type="text/javascript" src="/media/function/jquery.ellipsis.js"></script>
<script type="text/javascript" src="/media/function/source.js"></script>
{% endblock %}

{% block content %}
    <header>
      <h3>{{ source.description|as_html|typogrify }}</h3>
      <div class="related-topics">
        {% if related_topics %}
        <span class="quiet">Related topics:</span> 
        <ul class="topic-list">
          {% for related_topic in related_topics %}
          <li><a href="{{ related_topic.get_absolute_url }}">{{ related_topic.preferred_name }}</a>{% if not forloop.last %}, {% endif %}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>    
    </header>

    <div id="tabs" class="span-24 last">
      <ul>
        <li><a href="#scans">Scans</a></li>
        <li><a href="#transcript">Transcript</a></li>
        <li><a href="#notes">Related Notes <span class="alt">&amp;</span> Queries</a></li>
      </ul>

      <section id="scans" class="span-23 last">
        {% if scans %}
        <ul class="scan-list">
          {% for scan in scans %}
          <li><a class="scan button" href="http://{{ domain }}{{ scan.image.url }}">{{ forloop.counter }}</a></li>
          {% endfor %}
        </ul>
        <br/>
        <div id="scan-viewer"></div>
        <div id="progress-notify">
          <span id="progress-message">Loading scanned document...</span>
          <div id="progressbar"></div>
        </div>
        {% else %}
        <div class="span-23 last">
          {% if source.url %}
          This document has not been scanned, but it is available online
          <a href="{{ source.url }}">elsewhere</a>.
          {% else %}
          This document has not been scanned.
          {% endif %}
        </div>
        {% endif %}
        <div class="span-2 last">
          <a class="button" href="{{ source.get_admin_url }}?return_to={{ source.get_absolute_url }}">Edit</a>
        </div>
      </section>

      <section id="transcript" class="span-23 last">
        {% if source.transcript %}
        <article id="transcript-{{ source.transcript.id }}" class="transcript">
          <div id="transcript-content" class="span-23 last">
            {{ source.transcript.content|as_html|typogrify }}
          </div>
          <div id="transcript-notes" class="span-23 last">
            {% for note in source.transcript.footnotes.all %}
            <div id="note-{{ note.id }}" class="transcript-note">
              {{ note.content|as_html|typogrify }}
              <a href="{{ note.get_absolute_url }}">More information about this footnote</a>
            </div>
            {% endfor %}
          </div>
          <div class="span-23 last">
            <a class="button" href="{{ source.transcript.get_admin_url }}?return_to={{ source.get_absolute_url }}">Edit</a>
            <div class="edit-history">
              {{ source.transcript|display_edit_history }}
            </div>
          </div>
        </article>
        {% else %}
        <div class="span-23 last">
          This document has not been transcribed.
        </div>
        <div class="span-2 last">
          <a class="button" href="{% url admin:main_transcript_add %}?source={{ source.id }}&amp;return_to={{ source.get_absolute_url }}">Edit</a>
        </div>
        {% endif %}
      </section>

      <section id="notes" class="span-23 last">
        {% if notes %}
          {% for note, topics, cites in notes %}
            {% include "note.include" %}
            {% if forloop.last %}{% else %}<hr/>{% endif %}
          {% endfor %}
        {% else %}
          There are no notes or queries citing this document.
        {% endif %}
      </section>
    </div>
{% endblock %}
