{% extends "base.html" %}
{% load typogrify %}

{% block title %}: {{ source }}{% endblock %}

{% block js %}
<script type="text/javascript" src="http://seadragon.com/ajax/0.8/seadragon-min.js"></script>
<script type="text/javascript" src="/media/function/source.js"></script>
{% endblock %}

{% block content %}
    <header>
      <h2>{{ source.description_as_text|typogrify }}</h2>
    </header>
    {% if source.transcript %}
    <div id="transcript-link">
      Read an <a href="{{ source.transcript.get_absolute_url }}">annotated transcript</a> 
      of this source document.
    </div>
    {% endif %}
    <section id="scans" class=span-24 last">
      <ul class="scan-list">
        {% for scan in scans %}
        <li><a class="scan" href="http://{{ domain }}{{ scan.image.url }}">{{ forloop.counter }}</a></li>
        {% endfor %}
      </ul>
      <div id="scan-viewer"></div>
    </section>
{% endblock %}
