<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{{ term.preferred_name }}</title>
  </head>
  <body>

    <header>
      <h1>{{ term.preferred_name }}</h1>
      <div id="solicitation">
        Please send additions, comments or corrections to {{ contact.name }} at <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>.
      </div>
    </header>

    {% if note_list %}
    <section id="notes">
      <h1>Notes</h1>
      {% for note in note_list %}
      <article class="note">
        <div class="note-content">
          {{ note.content_as_html|safe }}
        </div>
        <div class="note-edit-history">
          {{ note.edit_history|safe }}
        </div>
      </article>
      {% endfor %}
    </section>
    {% else %}
    <div id="no-notes">
      We don't have any notes on this topic yet.
    </div>
    {% endif %}

    {% if query_list %}
    <section id="queries">
      <h1>Queries</h1>
      {% for query in query_list %}
      <article class="query">
        <div class="query-content">
          {{ query.content_as_html|safe }}
        </div>
        <div class="query-edit-history">
          {{ query.edit_history|safe }}
        </div>
      </article>
      {% endfor %}
    </section>
    {% endif %}

    {% if reference_list %}
    <section id="references">
      <h1>References</h1>
      {% for reference in reference_list %}
      <div class="reference">
        {{ reference.citation_as_html|safe }}
        {% if reference.url %}
        <a href="{{ reference.url }}">{{ reference.url }}</a>
        {% endif %}
      </div>
      {% endfor %}
    </section>
    {% endif %}

    <aside id="metadata">
      <div id="publisher">
        Published by the <a href="/">Editors' Notes Project</a>
      </div>
      <div id="updated">
        Last updated {{ last_updated_display|safe }} by <span class="attribution">{{ last_updater }}</span>
      </div>
    </aside>

  </body>
</html>
