{% extends "base.html" %}

{% block title %}: {{ term.preferred_name }}{% endblock %}

{% block content %}
    <header>
      <h2>{{ term.preferred_name }}</h2>
      {% if last_updated_display %}
      <div id="updated" class="quiet">
        Last updated {{ last_updated_display|safe }} by {{ last_updater_display|safe }}
      </div>
      {% endif %}
      {% if created_display %}
      <div id="updated" class="quiet">
        Created {{ created_display|safe }} by {{ creator_display|safe }}</span>
      </div>
      {% endif %}
    </header>

    {% if notes %}
    <section id="notes" 
             class="{% if queries %}span-12{% else %}span-24 last{% endif %}">
      <h3>Notes</h3>
      {% for note, cites in notes %}
        {% include "note.include" %}
      {% endfor %}
    </section>
    {% endif %}

    {% if queries %}
    <section id="queries"
             class="{% if notes %}span-12{% else %}span-24{% endif %} last">
      <h3>Queries</h3>
      {% for note, cites in queries %}
        {% include "note.include" %}
      {% endfor %}
    </section>
    {% endif %}

    {% if not notes and not queries %}
    <div id="no-notes">
      There are no notes or queries related to <em>{{ term.preferred_name }}</em>.
    </div>
    {% endif %}
{% endblock %}
