{% extends "base.html" %}

{% block title %}: {{ topic.preferred_name }}{% endblock %}

{% block content %}
    <header>
      <h2>{{ topic.preferred_name }}</h2>
      {% if last_updated_display %}
      <div id="updated" class="quiet">
        Last updated {{ last_updated_display|safe }} by {{ last_updater_display|safe }}
      </div>
      {% endif %}
      {% if created_display %}
      <div id="updated" class="quiet">
        Created {{ created_display|safe }} by {{ creator_display|safe }}</span>
      </div>
      {% endif %}
    </header>

    {% if article %}
    <section id="article" class="span-24 last">
      {% include "article.include" %}
    </section>
    {% endif %}

    {% if notes %}
    <section id="notes" class="span-24 last">
      <h3>Notes</h3>
      {% for note, cites in notes %}
        {% include "note.include" %}
      {% endfor %}
    </section>
    {% else %}
    <div id="no-notes">
      There are no notes related to <em>{{ topic.preferred_name }}</em>.
    </div>
    {% endif %}

{% endblock %}
