{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: {{ topic_node.preferred_name }}{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}function/topic.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/facets.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}style/topic.css" type="text/css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}style/facets.css" type="text/css" />
{% endblock %}

{% block content %}
    <header>
      <h1 id="topic-name">{{ topic_node.preferred_name }}</h1>
      {% include "includes/related_topics_header.html" %}
    </header>

    <section id="topic-projects">
      {% with project_topics=topic_node.project_topics %}
      <p>{{ project_topics.count }} project{% if project_topics.count > 1%}s{% endif %} refer{% if project_topics.count = 1%}s{% endif %} to this topic.</p>
      <ul>
        {% for topic in project_topics.all %}
        <li><strong>{{ topic.project }}: </strong>{{ topic|as_link }}</li>
        {% endfor %}
      </ul>
      {% endwith %}

    </section>

    <section id="related-notes">
    </section>

    <section id="related-documents">
    </section>

    {% comment %}

    <ul id="tabs" class="nav nav-tabs">
      <li class="active"><a href="#article-tab">Article</a></li>
      <li><a href="#notes-tab">Related Notes <span class="alt">&amp;</span> Queries ({{ notes|length }})</a></li>
      <li><a href="#documents-tab">Related Documents ({{ documents|length }})</a></li>
    </ul>

    <div class="tab-content">
      <section id="article-tab" class="tab-pane active">
        <article id="{{ topic.slug }}-summary" class="note">

          <div class="row edit-row">
            <div class="span6 edit-button">
              {% if request.user.is_authenticated %}
              <a class="btn" href="{{ topic.get_admin_url }}?return_to={{ topic.get_absolute_url }}">Edit</a>
              {% endif %}
            </div>
            <div class="span6 edit-history">
              {{ topic|display_edit_history }}
            </div>
          </div>

        </article>
      </section>

      <section id="notes-tab" class="tab-pane">
        {% if notes %}
          {% for note in notes %}
          <div id="note-{{ note.id }}" class="related-note">
            <div class="note-link">
              <a href="{{ note.get_absolute_url }}">{{ note.title}}</a>
            </div>
            <div class="note-last-modified">
              <span class="quiet">Last modified: </span><span>{{ note.last_updated|date:"F j, Y" }}</span>
            </div>
            {% include "includes/related_topics_header.html" with related_topics=note.related_topics.all %}
          </div>
          {% endfor %}
        {% else %}
          There are no notes or queries related to <em>{{ topic.preferred_name }}</em>.
        {% endif %}
      </section>

      <section id="documents-tab" class="tab-pane">
        {% if documents %}
        <ul id="document-list" class="model-list unstyled">
          {% for document in documents %}
          <li class="document-list-item">
            {{ document|as_link|typogrify }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
          There are no documents related to <em>{{ topic.preferred_name }}</em>.
        {% endif %}
      </section>
    </div>
    {% endcomment %}

{% endblock %}
