{% extends "base.html" %}

{% block title %}: {{ topic.preferred_name }}{% endblock %}

{% block js %}
<script type="text/javascript">
  $(function() {
    $('#tabs').tabs();
  });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/style/disqus.css" type="text/css"/>
{% endblock %}

{% block content %}
    <header>
      <h2>{{ topic.preferred_name }}</h2>
      <div class="related-topics">
        {% if related_topics %}
        <span class="quiet">Related topics:</span> 
        <ul class="topic-list">
          {% for related_topic in related_topics %}
          <li><a href="{{ related_topic.get_absolute_url }}">{{ related_topic.preferred_name }}</a>{% if not forloop.last %}, {% endif %}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </header>

    <div id="tabs" class="span-24 last">
      <ul>
        <li><a href="#article">Article</a></li>
        <li><a href="#discuss">Discussion</a></li>
        <li><a href="#notes">Related Notes <span class="alt">&amp;</span> Queries</a></li>
      </ul>

      <section id="article" class="span-23 last">
        <article id="{{ topic.slug }}-summary" class="note">
          <div class="note-content">
            {{ topic.summary_as_html|safe }}
          </div>
          {% if summary_cites.primary %}
          <h4>Primary sources</h4>
          <div class="citation-list">
            {% for cite in summary_cites.primary %}
            <div class="citation">
              {{ cite.as_html|safe }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          {% if summary_cites.secondary %}
          <h4>Secondary sources</h4>
          <div class="citation-list">
            {% for cite in summary_cites.secondary %}
            <div class="citation">
              {{ cite.as_html|safe }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          <div class="span-2">
            <a class="button" href="{{ topic.get_admin_url }}?return_to={{ topic.get_absolute_url }}">Edit</a>
          </div>
          <div class="edit-history">
            {{ topic.edit_history|safe }}
          </div>
        </article>
      </section>

      <section id="discuss" class="span-23 last">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
var disqus_identifier = 'topic-{{ topic.id }}';
var disqus_title = '{{ topic.preferred_name }}';
{% if request.get_host == '127.0.0.1:8000' %}
var disqus_developer = 1;
{% endif %}
{% if user.is_authenticated %}
var disqus_def_name = '{{ user.username }}';
{% if user.email %}
var disqus_def_email = '{{ user.email }}';
{% endif %}
{% endif %}
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://editorsnotes.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=editorsnotes">discussion</a>.</noscript>
      </section>

      <section id="notes" class="span-23 last">
        {% if notes %}
          {% for note, topics, cites in notes %}
            {% include "note.include" %}
          {% endfor %}
        {% else %}
          There are no notes or queries related to <em>{{ topic.preferred_name }}</em>.
        {% endif %}
      </section>
    </div>

{% endblock %}
