{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: {{ topic.preferred_name }}{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/function/jquery.easing.js"></script>
<script type="text/javascript" src="/media/function/jquery.collapse.js"></script>
<script type="text/javascript" src="/media/function/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="/media/function/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/media/function/topic.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/style/disqus.css" type="text/css"/>
<link rel="stylesheet" href="/media/style/topic.css" type="text/css"/>
{% endblock %}

{% block content %}
    <header>
      <h2 id="topic-name">{{ topic.preferred_name }}</h2>
      <div class="related-topics">
        {% if related_topics %}
        <span class="quiet">Related topics:</span> 
        <ul class="topic-list">
          {% for related_topic in related_topics %}
          <li>{{ related_topic|as_link }}</a>{% if not forloop.last %} | {% endif %}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </header>

    <ul id="tabs" class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#article">Article</a></li>
      <li><a data-toggle="tab" href="#discuss">Discussion</a></li>
      <li><a data-toggle="tab" href="#notes">Related Notes <span class="alt">&amp;</span> Queries ({{ note_count }})</a></li>
      <li><a data-toggle="tab" href="#documents">Related Documents ({{ doc_count }})</a></li>
    </ul>

    <div class="tab-content">
      <section id="article" class="tab-pane active">
        <article id="{{ topic.slug }}-summary" class="note">
          {% if topic.has_summary %}
          <div class="note-content">
            {{ topic.summary|as_html }}
          </div>
          {% else %}
          <div>
            There is no article about <em>{{ topic.preferred_name }}</em> yet.
          </div>
          {% endif %}
          {% if summary_cites.all %}
          <h4>Sources</h4>
          <div class="citation-list">
            {% for cite in summary_cites.all %}
              {% include "citation.include" %}
            {% endfor %}
          </div>
          {% endif %}
          <a class="button" href="{{ topic.get_admin_url }}?return_to={{ topic.get_absolute_url }}">Edit</a>
          <div class="edit-history">
            {{ topic|display_edit_history }}
          </div>
        </article>
      </section>

      <section id="discuss" class="tab-pane">
        {% include "disqus.include" %}
      </section>

      <section id="notes" class="tab-pane">
        {% if notes %}
	<ul id="collapse">
          {% for note, topics, cites in notes %}
            {% include "note.include" %}
            {% if forloop.last %}{% else %}
        <hr/>{% endif %}
          {% endfor %}
	</ul>
        {% else %}
          There are no notes or queries related to <em>{{ topic.preferred_name }}</em>.
        {% endif %}
      </section>

      <section id="documents" class="tab-pane">
        {% if documents %}
        <div class="use-sidebar sidebar-at-left" id="main">
        <div id="content">
          <div id="document-list">
            {% for document in documents %}
            <div class="document-item">
            {{ document|as_link|typogrify }}
            {% if document.related_via %}
            [via {{ document.related_via|as_link|typogrify }}]
            {% endif %}
            </div>
            {% endfor %}
          </div>        
        </div>
        <div id="sidebar">
          <div id="document-facets">
            <div class="facet-header">
              <label>
                <input id="year-select-all" type="checkbox" checked/>
                <span class="facet-name">Year</span>
              </label>
              <span id='year-sort-button'
                    class="sort-button ui-state-default ui-corner-all"
                    data-facet="year">
                <span class="ui-icon ui-icon-triangle-1-s"></span>
              </span>
            </div>
            <ul id="document-year-facet">
            </ul>
            <div class="facet-header">
              <label>
                <input id="itemtype-select-all" type="checkbox" checked/>
                <span class="facet-name">Item Type</span>
              </label>
              <span class="sort-button ui-state-default ui-corner-all"
                    data-facet="itemtype">
                <span class="ui-icon ui-icon-triangle-1-s"></span>
              </span>
            </div>
            <ul id="document-itemtype-facet">
            </ul>
            <div id="import-documents">
              <a class="button" href="/document/upload/?reltopic={{ topic.id }}&return_to={{ topic.get_absolute_url }}">Import documents</a>
            </div>
          </div>
        </div>
        <a href="#" id="separator"></a>
        </div>
        {% else %}
          There are no documents related to <em>{{ topic.preferred_name }}</em>.
            <div id="import-documents">
              <a class="button" href="/document/upload/?reltopic={{ topic.id }}&return_to={{ topic.get_absolute_url }}">Import documents</a>
            </div>
        {% endif %}
      </section>
    </div>

{% endblock %}
