{% extends "base.html" %}
{% load typogrify display %}

{% block title %}: {{ profile.display_name }}{% endblock %}

{% block content %}
    <header>
      <h2>{{ profile.display_name }}</h2>
      <div id="loggedin" class="quiet append-bottom">
        Last logged in {{ profile.user.last_login|timeago }}</span>
      </div>    
    </header>

    <section id="user_activity" class="span-24 last"> 
      <h3>Recent edits</h3>
      <ul class="activity-log">
        {% for entry in log_entries %}
        {% with entry.get_edited_object as object %}
        <li class="activity-log-entry">
          {{ object|as_link }}
          <span class="quiet">edited {{ entry.action_time|timeago }}.</span> 
        </li>
        {% endwith %}
        {% empty %}
        <li>{{ profile.display_name }} hasn't made any edits yet.</li>
        {% endfor %}
      </ul>
    </section>
{% endblock %}
