{% extends request.is_ajax|yesno:"base_blank.html,base.html" %}

{% block content %}

{% if request.is_ajax and messages %}
{% for message in messages %}
<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
{% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}

  {% for field in form %}
    {% include "includes/bootstrap_field.html" %}
  {% endfor %}
  {% if not request.is_ajax %}
  <button type="submit">Submit</button>
  {% endif %}
</form>
{% endblock %}
