/* The font-size percentage is of 16px. */ 
body { font-size: 87.5%; } /* (0.875 * 16px = 14px) */
a { color: #222; }
a.button, button { font-size: 12px !important; }
h1 { font-size: 2em; margin: 0.2em 0 0 0 }
h2 { margin-bottom: 0; }
h4 { font-variant: small-caps; letter-spacing: 1px; text-transform: lowercase; font-weight: bold; }
ul { list-style-type: none; padding: 0 }
#actions, ul.topic-list { display: inline; }
#actions li, ul.topic-list li { display: inline; }
#actions { padding: 0; margin-bottom: 0; }
hr { margin-bottom: 2.95em; }
#topnav { }
#stripe-1 { position: absolute; z-index: -1; height: 42px; width: 100%; background: #e5ecf9; }
#stripe-2 { position: absolute; z-index: -1; top: 42px; height: 44px; width: 100%; background: #aeb4be; }
#logo a { text-decoration: none; }
#searchinput input { width: 338px; }
#topics li, #sources li { text-indent: -1em; padding-left: 1em; }
#sources p { margin: 0; }
.searchresult { margin-bottom: 1.5em; }
.edit-history { text-align: right; }
.citation { text-indent: -2em; padding-left: 2em; }
.citation div, .citation p { display: inline; }
.note-link { vertical-align: bottom; }
.message-list { margin-top: -1.5em; }
.error, .notice, .success { padding: 0.4em; }
.errorlist li { padding: .8em; background: #fbe3e4; color: #8a1f11; border: 2px solid #fbc2c4; }
.highlighted { font-weight: bold; }
.awesome { background-color: #ff8000 !important; font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif !important; font-size: 12px !important; }
a.subtle, a.footnote, a.user-link { text-decoration: none; }
a.subtle:focus, a.subtle:hover, a.user-link:hover { text-decoration: underline; color: #222; }
a.footnote:focus, a.footnote:hover { color: red; }
a.footnote sup { color: red; padding-left: 1px; font-weight: bold; }
span.note-number { color:red; margin-left: -1.2em; }
.transcript-note .dquo { margin-left: auto; }
/* Reduced size type with incremental leading

   Using this class, it reduces your font size and line-height so that for
   every four lines of normal sized type, there is five lines of the sidenote. eg:

   New line-height value:
     14px x 1.5 = 21px (old line-height)
     21px x 4 = 84px
     84px / 5 = 16.8px (new line height)
     16.8px / 12px = 1.4 (new line height in em's) */
aside p {
  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: 1.5em;
}
