{% extends "base.html" %}

{% block content %}
<h1>About</h1>
<p>Every project which works closely with historical documents-- researching, contextualizing, ordering them-- produces massive amounts of thorough research notes which are too often locked away in filing cabinets or the minds of editors and curators, never to be seen by anyone. The Editors' Notes project is a collaboration between the editors of the Stanton-Anthony Papers, the Emma Goldman Papers, the Margaret Sanger Papers, and the Labadie Collection which aims to preserve those research notes in a way that makes them useful to future scholars and interested minds.</p>
<p>This website has been made possible by a generous grant from the Mellon Foundation. For more information, visit <a href="http://ecai.org/mellon2010/">the project's section of ECAI website</a>.
<hr>
<h1>Support the Project</h1>
<p>There are many ways that independent researchers or other interested parties can aid the work being done on this site.
<ul>
  <li>Transcribe a scanned document</li>
  <li>Contact a project with a query about the content of a note</li>
  <li>Tag topics within notes to better link content</li>
</ul>

{% endblock %}
