{% extends "base.html" %}

{% block css %}
<style type="text/css">
  #main a {
    color: #107887;
  }
  .test {
    margin: 1.5em 0;
  }
</style>
{% endblock %}

{% block content %}
<h1>About</h1>
<p>
Every project that works closely with documents&emdash;researching, contextualizing, and ordering them&emdash;produces massive amounts of thorough research notes which are too often locked away in filing cabinets or the minds of editors and curators, never to be seen by anyone. The Editors' Notes project is a collaboration between the editors of the <a href="http://ecssba.rutgers.edu">Stanton-Anthony Papers</a>, the <a href="http://sunsite.berkeley.edu/goldman/">Emma Goldman Papers</a>, the <a href="http://www.nyu.edu/projects/sanger/">Margaret Sanger Papers</a>, and the <a href="http://www.lib.umich.edu/labadie-collection/">Labadie Collection</a> which aims to preserve those research notes in a way that makes them useful to future scholars and interested minds.</p>
<p>This website has been made possible by a generous grant from the <a href="http://www.mellon.org">Mellon Foundation</a>. For more information, visit <a href="http://ecai.org/mellon2010/">the project's section of ECAI website</a>.
<hr>

<h1>Contact</h1>
{% comment %}
<p>
Send questions or comments to <a href="mailto:info@editorsnotes.org">info@editorsnotes.org</a>, or use the form below.
</p>
{% endcomment %}
<p>
Use the form below to submit questions or comments.
</p>
<form method="post">
  {% csrf_token %}
  {{ form }}

  <div class="test">
    {% if bad_answer %}<div class="alert alert-error">Try again</div>{% endif %}
    <img src="test/"></img> equals? <input style="margin: 0; width: 30px;" type="text" name="testanswer" />
  </div>

  <div>
    <button type="submit" class="btn">Send</button>
  </div>
</form>

{% endblock %}
