<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Editors' Notes{% if project %}: {{ project }}{% else %}{% endif %}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/style/custom-theme/jquery-ui-1.8.10.custom.css" type="text/css"/>
    <link rel="stylesheet" href="/media/style/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/media/style/print.css" type="text/css" media="print"/>
    <link rel="stylesheet" href="/media/style/droppy.css" type="text/css"/>	
    <!--[if lt IE 8]><link rel="stylesheet" href="/media/style/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    {% block css %}{% endblock %}
    <script type="text/javascript" src="/media/function/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/media/function/jquery-ui-1.8.10.custom.min.js"></script>
    <script type="text/javascript" src="/media/function/underscore-min.js"></script>
    <script type="text/javascript" src="/media/function/jquery.droppy.js"></script>
    <script type="text/javascript" src="/media/function/jquery.timeago.js"></script>
    <script type="text/javascript" src="/media/function/base.js"></script>
	  <script type='text/javascript'>
      $(function() {
        $('#nav').droppy({trigger: 'click'});
      });
	  </script>
    {% block js %}
    {% endblock %}
  </head>
  {% load typogrify %}
  <body>
    <div id="stripe-1"></div>
    <div id="stripe-2"></div>
    <div class="container">
      <nav id="topnav">
        <div id="logo">
          <a href="/">
            <h1>{% filter smartypants %}The Editors' Notes Project{% endfilter %}</h1>
          </a>
        </div>
        <div id="searchform">
          <form action="/search/" method="get" class="inline">
            <div id="searchinput">
              <input type="text" class="text" name="q"/>
            </div>
            <div id="searchbutton">
              <button type="submit">Search</button>
            </div>
          </form>
        </div>
        {% load display %}
        <div id="user-information">
            {% if user.is_authenticated %}{{ user|login_information }}{% else %}Not logged in{% endif %}
        </div>
        <div id="navigation-projects">
        <ul id="nav">
          <li><a class="button" href="{% url admin:main_topic_add  %}">Add Topic</a></li>
          <li><a class="button" href="{% url admin:main_note_add %}">Add Note</a></li>
          <li><a class="button" href="{% url admin:main_document_add %}">Add Document</a></li>
          <li class="right"><a class="button" style="float: right; margin-right: 10px;" href="/logout/">Log out</a></li>
          <li class="right"><a class="button" style="float: right; margin-right: 10px;" href="https://docs.google.com/document/edit?id=1u9XlHBaVZnPUm5qNSSjcJ5n0xZSkSpduHSAFRlMTIy4&amp;hl=en&amp;authkey=CNHZyK4C">Help</a></li>
          <li class="right"><a class="button" style="float: right; margin-right: 10px;" href='#'>Member Projects</a>
            <ul>
              {% for proj in list_projects %}
              <li>{{ proj|as_link }}</li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        </div>
      </nav>
      {% if messages %}
      <div class="message-list">
        {% for message in messages %}
        <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">
          {{ message|safe }}
        </div>
        {% endfor %}
      </div>
      {% endif %}      
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
