<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Editors' Notes{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/style/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/media/style/print.css" type="text/css" media="print"/>	
    <!--[if lt IE 8]><link rel="stylesheet" href="/media/style/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <script type="text/javascript" src="/media/function/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/function/jquery.timeago.js"></script>
    <script type="text/javascript" src="/media/function/base.js"></script>
    {% block js %}{% endblock %}
  </head>
  {% load typogrify %}
  <body>
    <div id="stripe"></div>
    <div class="container">
      <nav id="topnav">
        <div id="logo"><a href="/"><h1>{% filter smartypants %}The Editors' Notes Project{% endfilter %}</h1></a></div>
        <div id="searchform">
          <form action="/search/" method="get" class="inline">
            <div id="searchinput">
              <input type="text" class="text" name="q"/>
            </div>
            <div id="searchbutton">
              <button type="submit">Search</button>
            </div>
          </form>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>