{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "editorsnotes.css" %}">
  </head>
  <body>
    <nav class="bg-black">
     <div class="bg-lighten-1 border-bottom px3 py2">
        <div class="silver container flex flex-center flex-justify">
          <div class="h3"><a class="silver" href="/">Working Notes</a></div>
          {% if request.user and request.user.is_authenticated %}
            <div>Logged in as {{ request.user }} (<a class="silver" href="{% url 'auth:signout' %}">Sign out</a>)</div>
          {% else %}
            <div><a class="silver" href="{% url 'auth:signin' %}">Sign in</a></div>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container px3">
      {% block content %}{% endblock %}
    </div>
  </body>

</html>
