{% extends "user_settings_base.html" %}

{% load widget_tweaks %}

{% block setting_content %}
<h2>Projects</h2>

<section>
  <h3>Create new project</h3>

  <form method="POST">
    {% csrf_token %}

    {% for field in form %}
      {{ field.label_tag }}
      {% include "field_errors.html" with errors=field.errors %}
      <div class="mb1">
        {{ field|add_class:"field block" }}
        <p class="muted">{{ field.help_text }}</p>
      </div>
    {% endfor %}

    <div class="mt3">
      <input type="submit" class="btn btn-primary" value="Add Project" />
    </div>
  </form>

  <script type="text/javascript">
    var slugEl = document.getElementById('id_slug')
      , ok = false

    slugEl.setAttribute('readonly', true);

    document.getElementById('id_name').addEventListener('input', function (e) {
      slugEl.value = (
        e.target.value
          .replace(/\s+/g, '-')
          .replace('[a-zA-Z0-9_\-]', '')
          .toLowerCase()
          .replace(/\b(the-|of-|a-|an-)/g, '')
          .replace(/-$/, ''));
    });
  </script>
</section>
{% endblock %}
