{% extends "user_settings_base.html" %}

{% load widget_tweaks %}

{% block setting_content %}
<h2>Profile</h2>

<p>{{ request.user }}</p>
<p>Last login: {{ request.user.last_login }}</p>

{% if successful_change %}
  <p class="white bg-olive rounded p2">Profile saved!</p>
{% endif %}

<form method="POST">
  {% csrf_token %}

  {% for field in form %}
    {{ field.label_tag }}
    {% include "field_errors.html" with errors=field.errors %}
    {{ field|add_class:"field block mb2" }}
  {% endfor %}

  <input type="submit" class="btn btn-primary" value="save" />
</form>

{% endblock %}
