{% load staticfiles %}

<script type="text/javascript" src="{% static "function/lib/jquery/jquery-1.8.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "function/lib/jquery/jquery-ui-1.10.4.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "function/lib/jquery/jquery.timeago.js" %}"></script>
<script type="text/javascript" src="{% static "function/lib/jquery/jquery.ba-bbq.min.js" %}"></script>
<script type="text/javascript" src="{% static "function/lib/jquery/bootstrap.min.js" %}"></script>

<script type="text/javascript" src="{% static "base-bundle.js" %}"></script>
