#sort-options {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 1em;
}
#sort-options .sort-option.sort-option-selected {
  padding-left: 18px;
}
#sort-options .sort-option:first-child {
  padding-left: 10px;
}
.sort-option {
  cursor: pointer;
  cursor: hand;
  margin-left: .75em;
}
.sort-option i {
  display: none;
}
.sort-option.sort-option-selected i {
  display: inline-block;
  vertical-align: baseline;
}
.timeago-label {
  margin-top: .75em;
}
.timeago-label:first-child {
  margin-top: 0;
}
.timeago-label:last-child {
  display: none
}
