// Our layouts

#main { margin-bottom: 18px; }

// Navbars
//---------
.navbar-inner {
  .border-radius(0);
  .box-shadow(0 3px 4px rgba(0,0,0,.065));
  border: none;
  border-bottom: none;
}

.navbar .container {
  width: 940px;
}

.navbar .nav > li { 
  > a {
    padding-left: 11px;
    padding-right: 11px;
    text-shadow: none;
  }

  > a:hover,
  &.dropdown.open > a.dropdown-toggle {
    background-color: @linkColor;
    color: white;
    b.caret {
      border-top-color: #fff !important;
      border-bottom-color: #fff !important;
    }
  }
}

.navbar .nav > li > .btn-group {
  margin-left: 12px;
  .dropdown-menu {
    right: 0;
    left: auto;
  }
  b.caret {
    border-top-color: @gray !important;
    border-bottom-color: @gray !important;
  }
}

.navbar-search .search-query {
  border-radius: 14px;
}


// Tabs
// -----
.nav-tabs a { color: @textColor; }


// Lists of models
// ----------------
.model-list > h4 { margin-bottom: 1px; }
.model-list {
  a { color: @textColor; }
  li.show-all-link { margin-top: 4px; }
}


// Document page
// --------------
td.zotero-key {
  width: 125px;
  text-align: right;
  span {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }
}

#document-header {
  font-size: @fontSizeLarge;
  line-height: 22px;
}

// Note page
// ----------
span[class*="note-status-"] { font-weight: bold; }
.note-status-hibernating { color: black; }
.note-status-open { color: green; }
.note-status-closed { color: red; }

a.license-link {
  color: black;
  &:hover { color: black; }
}

.license-symbol {
  display: inline-block;

  font-style: normal;
  font-weight: normal;
  font-family: "OpenWeb Icons";
  font-size: 28px;

  position: relative;
  left: -2px;
  top: 6px;
  margin-top: -5px;
}

#note-details {
  .makeRow();
  .well;
  margin-left: 0 !important;

  .about-license { 
    border-bottom: 1px dashed @linkColor;
    &:hover { text-decoration: none; color: @linkColor; }
  }

  #note-about {
    .makeColumn(6);
    width: 420px;
    > div { padding: 6px 0; }
    ul { margin-bottom: 0; }
  }

  #note-about, #note-authorship {
    margin-top: 0;
    margin-bottom: 0;
  }

  #note-related-topics {
    > span {
      font-weight: bold;
      border-bottom: 1px solid #999;
      padding-bottom: 1px;
      margin-bottom: 1px;
      display: inline-block;
      width: 240px;
    }

    li {
      margin-bottom: 2px;
      margin-left: 2em;
      text-indent: -2em;
    }
  }

  #note-authorship {
    .makeColumn(5);
    width: 420px;
    .dl-horizontal;
    ul { margin: 0; }
    dt { width: 88px; }
    dd { margin-left: 97px; }
    dd, dt { padding: 6px 0; }
  }
}

#note-description {
  border: 1px solid #999;
  border-radius: 2px;
  padding: 0px 20px 18px;
  margin: 2em 0;

  p:last-of-type { margin-bottom: 0; }

  &:before { 
    content: "Description";

    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;

    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 2px 4px;

    position: relative;
    top: -10px;
    left: -6px;
  }

}


// Facets
//--------
#facets.loaded .facet-header img {
  display: none;
}

#facets {
  .makeRow();
  margin-top: .75em;

  .facet-header {
    .makeColumn(12);
    cursor: hand;
    cursor: pointer;
    h3 { display: inline-block; }
    i { vertical-align: baseline; }
  }

  .facets-available {
    .makeColumn(2);
    ul {
      margin-left: 0;
      li {
        .btn;
        display: block;
        text-align: left;
        margin: 0 0 6px;
        padding-left: 8px;
        padding-right: 8px;
        i { opacity: .7; }
      }
      li.facet-selected {
        .btn-primary;
      }
    }
  }

  .facet-form {
    .makeColumn(10);

    .facet-selection {
      .makeRow();

      div[class^="select-facets-"] {
        .makeColumn(10);
        display: none;
        margin-bottom: 10px;

        h5 {
          font-size: 14px;
          margin: 0 0 3px 0;
          padding: 0 0 1px 3px;
          border-bottom: 1px dashed @grayLight;
        }
        // If there's only one column of facets, make it take up the entire row
        .facet-list {
          .makeColumn(5);
        }
        .facet-list:only-of-type {
          .makeColumn(10)
        }

        .facet-list {
          margin: 0 !important;
          padding-right: 8px !important;
          list-style-type: none;
          li {
            margin-bottom: 2px;
          }
          input {
            margin: 0 2px 1px 0;
          }
          label { 
            display: inline;
            margin: 0;
          }
        }

      }

    }

  }

}


// Admin
//-------

/******************************************************************** 
 * Citation formsets
 ********************************************************************/

//
// Types of sections
//

.common-item-types {
  li {
    .btn;
    display: inline-block;
    width: 175px;
    margin: 8px 12px 12px;
    padding: 8px 12px;
  }

  a {
    color: black;
    &:hover { text-decoration: none; }
  }
}

.section-placeholder {
  height: 50px;
  border-radius: 2px;
  border: 2px dashed #999;
  margin: 8px 0;
  text-align: center;

  &:after {
    position: relative;
    top: 16px;
    content: '(reposition here)';
  }
}

.editing-affordance {
  cursor: pointer;
  background-color: #f0f0f0;
}

.add-new-object {
  text-indent: 0;
  font-size: 18px;
  padding: 5px;
  position: relative;
  top: 2px;
  &:hover { color: @linkColor !important; text-decoration: none; }
}

.note-section {
  .object-reference;
}

.note-section-text-content > :last-child {
  margin-bottom: 0px;
}

body.editing {
  .note-section, #note-description {
    &:not([class*="active"]):hover { .editing-affordance; }
  }

  .note-section[class*="active"] {
    padding: 12px;
    margin: 1.2em 0;
    border: 1px solid black;
    .edit-row {
      .makeColumn(12);
      width: 100%;
      margin-left: 0;
      margin-top: 12px;
    }
  }

  .note-section-text .btn-toolbar { margin-top: 0px; }

  #note-sections { margin-bottom: 200px; }
}

#citation-edit-bar {
  margin-bottom: 1em;
  padding: .75em;
  border: 1px solid #999;

  h4 {
    display: inline-block;
    margin: 0 3px 0 0;
  }
  a.add-section {
    .btn;
    margin-left: 10px;
  }
}

.add-document-zotero-data {
  .zotero-entry {
    margin-bottom: 0 !important;

    label, div { display: inline-block; }
    label { width: 150px; }

  }
}

#note-sections {
  .ui-autocomplete-input { margin-bottom: 0; }
  .ui-autocomplete {
    max-width: 750px;
    max-height: 300px;
    border-radius: none;
    left: 0;
  }
  .ui-menu-item p { margin-bottom: 0; }
  .ui-menu-item { padding: 4px 0; }
  .ui-menu-item:not(:last-of-type) { border-bottom: 1px solid #f0f0f0; }
}
