.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
#document-facets {
  float: left;
}
.document-item {
  margin: 0 0.5em 0.5em 0.5em;
}
.facet-header {
  margin-bottom: 0.5em;
}
.facet-name {
  font-weight: bold;
}
.sort-button {
  display: inline-block;
  padding: 2px 0;
  margin-left: 4px;
  vertical-align: -25%;
  cursor: pointer;
}
.ui-icon {
  float: left; 
  margin: 0 2px;
}
label {
  font-weight: normal;
  cursor: pointer;
}
input[type="checkbox"] {
  top: 0;
  cursor: pointer;
}

/* styles for hiding document facets */
#sidebar {display: none; }
#content {width: 97%;}

.use-sidebar #content {width: 75%;}
.use-sidebar #sidebar {display: block; width: 20%;}
 
.sidebar-at-left #sidebar {margin-right: 1%;}
.sidebar-at-right #sidebar {margin-left: 1%;}
 
.sidebar-at-left #content, .use-sidebar.sidebar-at-right #sidebar, .sidebar-at-right #separator {float: right;}
.sidebar-at-right #content, .use-sidebar.sidebar-at-left #sidebar, .sidebar-at-left #separator {float: left;}
 
#separator {background-color: #ddd; display: block; outline: none; width: 7px;}
#separator:hover { background: #C1DDFE;}

/* styles for facts display */
#facts table { width: 910px; margin-bottom: 0; }
#facts .statement-group { width: 910px; border: 1px solid #ccc; margin-bottom: 3em; }
#facts .attribution {  padding: 10px; background-color: #ddd; }
#facts td { padding: 10px; border-top: 1px solid #ccc;  vertical-align: top;  }
/*#facts tr:last-child td { border-bottom: none; }*/
#facts .predicate { text-align: right; text-transform: lowercase; font-weight: bold; line-height: 1; padding-top: 13px; min-width: 100px; }
#facts .predicate a { text-decoration: none; }
#facts .predicate a:hover { text-decoration: underline; }
#facts .objects { line-height: 1.7; unicode-bidi: bidi-override; direction: ltr; }
#facts .object { display: inline; padding: 2px 4px 2px 4px; }
#facts .object .accept-reject-buttons { display: inline-block; }
#facts .object button { display: inline; float: none; padding: 2px; margin: 0; }
#facts .object button img { margin: 0 0 -3px 0 !important; }*/
