{% load display %}

<div id="citations-formset">
  {{ citations_formset.management_form }}

  <div id="citation-items">

    {% for citation in citations_formset %}
    {% with citation.instance as c %}

    <div class="citation citation-edit {% if not c %}hide{% endif %}" id="{{ citation.prefix }}">

      <div class="citation-document">
        <i class="icon-file"></i>
        {% if c.document %}
        {{ c.document.description|as_text }}
        {% else %}
        <input data-target-model="documents" data-project-slug="{{ project.slug }}" />
        {% endif %}
      </div>

      {% include "includes/wysihtml5_full_toolbar.html" with toolbar_id=citation.prefix|add:"-toolbar" %}
      <div class="citation-fields">
        {% for field in citation %} {{ field }} {% endfor %}
      </div>

    </div>

    {% endwith %}
    {% endfor %}

  </div>

  {% include "includes/add_document_modal.html" %}

</div>
