<style type="text/css">

  legend {
    margin-bottom: 8px;
  }

  fieldset {
    margin-bottom: 1em;
  }

  .form-horizontal .control-label {
    width: 120px;
  }
  .form-horizontal .controls {
    margin-left: 132px;
  }
  .form-horizontal .control-group {
    margin-bottom: 8px;
  }

  .zotero-information-edit .control-group {
    margin-bottom: 0px !important;
  }

  .related-topics-edit .control-group:last-child input[type="checkbox"],
  .related-topics-edit .control-group:last-child i {
    display: none;
  }

  .related-topics-edit .control-group:last-child {
    margin-top: 1.5em;
  }
  .related-topics-edit .control-group:only-child {
    margin-top: 0;
  }

  .left-margin {
    margin-left: 20px;
  }

</style>

  <form enctype="multipart/form-data" method="post" class="form-horizontal">{% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-error">
      {{ form.non_field_errors }}
    </div>
    {% endif %}

    <fieldset>
      <legend>Description</legend>
      <div class="document-description-edit">
        {% if form.description.errors %}
          <div class="alert alert-error">
            {{ form.description.errors }}
          </div>
        {% endif %}
        {{ form.description }}
      </div>
    </fieldset>

    <fieldset class="collapsable">
      <legend>Zotero data</legend>
      <div class="fieldset-content">
        <div class ="zotero-container">
        </div>
        {{ form.zotero_string }}
      </div>
    </fieldset>

    <fieldset class="collapsable related-topics-edit">
      {{ topics_formset.management_form }}
      <legend>Related topics</legend>
      <div class="fieldset-content">
        {% for form in topics_formset %}
          <div class="control-group">
            {{ form.id }}
            {{ form.topic }}
            {{ form.DELETE }}
          </div>
        {% endfor %}
      </div>
    </fieldset>

    <fieldset class="collapsable">
      {{ links_formset.management_form }}
      <legend>External links</legend>
      <div class="fieldset-content">
        {% for form in links_formset %}
          {% if form.errors %} <div class="alert alert-error"> {{ form.errors }} </div> {% endif %}
          {{ form.document }}
          {{ form.id }}

          <div class="control-group">
            <label class="control-label" for="{{ form.url.auto_id }}">URL</label>
            <div class="controls">
              {{ form.url }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="{{ form.description.auto_id }}">Description</label>
            <div class="controls">
              {{ form.description }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="{{ form.DELETE.auto_id }}">Delete?</label>
            <div class="controls">
              {{ form.DELETE }}
            </div>
          </div>

        {% endfor %}
      </div>
    </fieldset>

    <fieldset class="collapsable">
      {{ scans_formset.management_form }}
      <legend>Scans</legend>
      <div class="fieldset-content">

        {% for form in scans_formset %}
          {{ form.document }}
          {{ form.id }}

          <div class="control-group">
            <label class="control-label" for="{{ form.image.auto_id }}">Image</label>
            <div class="controls">
              {{ form.image }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="{{ form.ordering.auto_id }}">Ordering</label>
            <div class="controls">
              {{ form.ordering }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="{{ form.ordering.auto_id }}">Delete?</label>
            <div class="controls">
              {{ form.DELETE }}
            </div>
          </div>

          <br/>

        {% endfor %}
      </div>
    </fieldset>

    <fieldset class="collapsable">
      <legend>Transcript</legend>
      <div class="fieldset-content">
        <div class="left-margin">
          {% with form.instance as d %}
            {% if not form.instance %}
              Save document before adding a transcript.
            {% else %}
              {% if d.has_transcript %}
                <label>A transcript for this document exists.</label>
                <a class="btn" href="{% url admin:main_transcript_change d.transcript.id %}">Edit transcript</a>
              {% else %}
                <label>No transcript for this document exists.</label>
                <a class="btn" href="{% url admin:main_transcript_add %}?document={{ d.id }}">Add transcript</a>
              {% endif %}
            {% endif %}
          {% endwith %}
        </div>
        <hr/>
      </div>
    </fieldset>

    <button type="submit" id="document-save" class="btn btn-primary">Save</button>

  </form>
