{% extends "admin/admin_base.html" %}

{% block admin %}

<style type="text/css">
  #id_description {
    width: 100%;
    height: 50px;
  }
  .existing-scan:last-of-type {
    margin-bottom: 2em;
  }
</style>

  <form enctype="multipart/form-data" method="post" class="form-horizontal">{% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-error">
      {{ form.non_field_errors }}
    </div>
    {% endif %}

    <fieldset>
      <legend>Description</legend>
      <div class="document-description-edit fieldset-content span11">
        {% if form.description.errors %}
          <div class="alert alert-error">
            {{ form.description.errors }}
          </div>
        {% endif %}
        {{ form.description }}
      </div>
    </fieldset>

    <fieldset class="collapsable">
      <legend>Zotero data</legend>
      <div class="fieldset-content">
        {% if form.zotero_string.errors %}
        <div class="alert alert-error">
          {{ form.zotero_string.errors }}
        </div>
        {% endif %}
        <div class="zotero-container">
        </div>
        {{ form.zotero_string }}
      </div>
    </fieldset>

    {% for formset in formsets %}

    {% if formset.prefix == 'topicassignment' %}
      <fieldset class="collapsable related-topics-field">
        {{ formset.management_form }}
        <legend>Related topics</legend>
        <div class="fieldset-content">
          {% if formset.non_form_errors %}
            <div class="alert alert-error">
              {{ formset.non_form_errors }}
            </div>
          {% endif %}
          {% for form in formset %}
            <div class="control-group related-topic">
              {{ form.id }}
              {{ form.topic }}
              {{ form.DELETE }}
            </div>
          {% endfor %}
        </div>
      </fieldset>

    {% elif formset.prefix == 'documentlink' %}
      <fieldset class="collapsable">
        {{ formset.management_form }}
        <legend>External links</legend>
        <div class="fieldset-content">
          {% for form in formset %}
            {% if form.errors %} <div class="alert alert-error"> {{ form.errors }} </div> {% endif %}
            {{ form.document }}
            {{ form.id }}

            <div class="control-group">
              <label class="control-label" for="{{ form.url.auto_id }}">URL</label>
              <div class="controls">
                {{ form.url }}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="{{ form.description.auto_id }}">Description</label>
              <div class="controls">
                {{ form.description }}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="{{ form.DELETE.auto_id }}">Delete?</label>
              <div class="controls">
                {{ form.DELETE }}
              </div>
            </div>
          {% endfor %}
        </div>
      </fieldset>

    {% elif formset.prefix == 'scan' %}

      <fieldset class="collapsable scan-field">
        <legend>Scans</legend>
        <div class="fieldset-content">

          <div class="additional-scan">
            {% if formset.non_form_errors %}
            <div class="alert alert-error">
              {% for error in formset.non_form_errors %}
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}

            {{ formset.management_form }}

            <ol>
              {% for form in formset %}
                {{ form.id }}
                {{ form.document }}
                {{ form.ordering }}
                {% if not forloop.last %}
                  <li class="existing-scan">
                    {{ form.image }}
                    {{ form.DELETE }}
                  </li>
                {% else %}
                <div>
                  <label for="{{ form.image.auto_id }}">Add scans:</label>
                  {{ form.image }}
                </div>
                {% endif %}
              {% endfor %}
            </ol>
          </div>

        </div>
      </fieldset>

    {% endif %}
    {% endfor %}

    <fieldset class="collapsable">
      <legend>Transcript</legend>
      <div class="fieldset-content">
        <div class="left-margin">
          {% with form.instance as d %}
            {% if not form.instance %}
              Save document before adding a transcript.
            {% else %}
              {% if d.has_transcript %}
                <label>A transcript for this document exists.</label>
                <a class="btn" href="{% url admin:main_transcript_change d.transcript.id %}">Edit transcript</a>
              {% else %}
                <label>No transcript for this document exists.</label>
                <a class="btn" href="{% url admin:main_transcript_add %}?document={{ d.id }}">Add transcript</a>
              {% endif %}
            {% endif %}
          {% endwith %}
        </div>
        <hr/>
      </div>
    </fieldset>

    <button type="submit" id="document-save" class="btn btn-primary">Save</button>

  </form>

{% endblock %}
