{% extends "admin/admin_base.html" %}

{% block admin %}

<style type="text/css">
  .assigned-users-field ul {
    list-style-type: none;
    margin-left: 0;
  }
  .title-field input[type="text"] {
    width: 500px;
  }
  .description-field textarea {
    width: 700px;
    height: 300px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid black;
    padding: 8px;
    background: #f0f0f0;
  }

</style>

  <form method="post" class="form-horizontal">{% csrf_token %}

    {% include "admin/includes/bootstrap_errors.html" with errors=form.non_field_errors %}

    <fieldset class="title-field">
      {% include "admin/includes/bootstrap_errors.html" with errors=form.title.errors %}
      <legend>Title</legend>
      <div class="fieldset-content">
        {{ form.title }}
      </div>
    </fieldset>

    <fieldset class="description-field collapsable">
      {% include "admin/includes/bootstrap_errors.html" with errors=form.content.errors %}
      <legend>Description</legend>
      <div class="fieldset-content">
        {% include "admin/includes/wysihtml5_full_toolbar.html" with toolbar_id="content-toolbar" %}
        {{ form.content }}
      </div>
    </fieldset>


    <fieldset class="status-field collapsable">
      {% include "admin/includes/bootstrap_errors.html" with errors=form.status.errors %}
      <legend>Status</legend>
      <div class="fieldset-content">
        {{ form.status }}
      </div>
    </fieldset>

    {% for formset in formsets %}

    {% if formset.prefix == 'topicassignment' %}
    <fieldset class="collapsable related-topics">
      <legend>Related topics</legend>
      {% include "admin/includes/bootstrap_formset.html" %}
    </fieldset>
    {% endif %}

    {% endfor %}

    <fieldset class="assigned-users-field collapsable">
      {% include "admin/includes/bootstrap_errors.html" with errors=form.assigned_users.errors %}
      <legend>Assigned users</legend>
      <div class="fieldset-content">
        {{ form.assigned_users }}
      </div>
    </fieldset>

    <hr/>

    <input type="submit" value="Save note" class="btn btn-primary" />

  </form>

{% endblock %}
