{% extends "base.html" %}

{% load display %}

{% block css %}
<style type="text/css">

  .note-section {
    padding: 7px 10px;
    border-radius: 2px;
    margin-bottom: 2px;
  }
  .note-section:last-child {
    margin-bottom: 50px;
  }
  .note-section:not(.note-section-active):hover {
    cursor: pointer;
  }
  .note-section:hover,
  .note-section-active {
    border-width: 2px;
    border: 1px solid #999;
    padding: 6px 9px;
  }
  .note-section-content :last-child {
    margin-bottom: 0px;
  }
  .note-section-document i[class$="file"] {
    position: relative;
    top: 2px;
    color: #444;
    font-size: 20px;
    margin-right: 6px;
  }
  #add-new-document i[class$="plus-sign"] {
    font-size: 18px;
    padding: 3px;
    position: relative;
    top: 3px;
  }
  #add-new-document:hover {
    text-decoration: none;
  }
  .note-section-content > :first-child,
  .note-section .btn-toolbar {
    border-top: 1px dotted #c0c0c0;
    margin-top: 6px;
    padding-top: 6px;
  }
  .note-section .btn-toolbar {
    margin-bottom: 2px;
    padding-top: 8px;
  }
  .note-section-fields input, textarea {
    display: none;
  }
</style>
{% endblock %}

{% block js %}


<script type="text/javascript" src="{{ STATIC_URL }}function/zotero.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/citeproc-js/xmle4x.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/citeproc-js/xmldom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/citeproc-js/citeproc.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/wysihtml5/wysihtml5-0.3.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/wysihtml5/parser_rules.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}function/admin-bootstrap-note-sections.js"></script>

{% endblock %}

{% block content %}
  <h2>{{ note.title }}</h2>

  <div>{{ note.content|as_html }}</div>


  <form method="post">

    <div style="margin: 1.75em 0 1em 0; padding: .75em; border: 1px solid #999;">
      <h4 style="display: inline-block; margin: 0px 3px 0 0;">Add section:</h4>
      <a class="btn" id="add-note-section" href="#">Document citation</a>
      <button class="btn btn-primary pull-right" type="submit">Save changes</button>
    </div>

    {% csrf_token %}
    <div id="management-form">
      {{ sections_formset.management_form }}
    </div>

    <div id="sections">
      {% for section in sections_formset %}
      {% with section.instance as ns %}

        <div class="note-section" id="note-{{ section.prefix }}">
          <div class="note-section-document"><i class="icon-file"></i>{{ ns.document }}</div>
          <div class="note-section-content">
            {% if ns.has_content %}
            {{ ns.content|as_html }}
            {% endif %}
          </div>
          <div class="note-section-fields">
            {% for field in section %}
              {{ field }}
            {% endfor %}
          </div>
        </div>

      {% endwith %}
      {% endfor %}
    </div>

  </form>

  <div id="note-section-toolbar" class="btn-toolbar" style="display: none;">
    <div class="btn-group">
      <a data-wysihtml5-command="bold" class="btn">
        <i class="icon-bold"></i>
      </a>
      <a data-wysihtml5-command="italic" class="btn">
        <i class="icon-italic"></i>
      </a>
      <a data-wysihtml5-command="formatBlock"
         data-wysihtml5-command-value="p"
        class="btn">
        <strong>P</strong>
      </a>
      <a data-wysihtml5-command="formatBlock"
         data-wysihtml5-command-value="h1"
        class="btn">
        <strong>H1</strong>
      </a>
      <a data-wysihtml5-command="formatBlock"
         data-wysihtml5-command-value="h2"
        class="btn">
        <strong>H2</strong>
      </a>
      <a data-wysihtml5-command="formatBlock"
         data-wysihtml5-command-value="h3"
        class="btn">
        <strong>H3</strong>
      </a>
      <a data-wysihtml5-command="insertOrderedList" class="btn">
        <i class="icon-list-ol"></i>
      </a>
      <a data-wysihtml5-command="insertUnorderedList" class="btn">
        <i class="icon-list-ul"></i>
      </a>
      <a data-wysihtml5-command="createLink" class="btn">
        <i class="icon-link"></i>
      </a>
    </div>

    <div data-wysihtml5-dialog="createLink" style="display: none;">
      <label>
        Link:
        <input data-wysihtml5-dialog-field="href" value="http://">
      </label>
      <a data-wysihtml5-dialog-action="save" class="btn">OK</a>
      <a data-wysihtml5-dialog action="cancel" class="btn">Cancel</a>
    </div>

  </div>

  <div class="modal add-document-modal hide form-horizontal row span10">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" class="close" aria-hidden="true">&times;</button>
      <h3>Add document</h3>
    </div>
    <div class="document-description modal-header">
      <textarea style="width: 98%"></textarea>
    </div>
    <div class="modal-body">
      <div class="zotero-information-edit">Loading...</div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn btn-primary save-document">Save</a>
    </div>
  </div>

{% endblock %}
