{% extends "base.html" %}

{% block css %}
<style type="text/css">
  td { vertical-align: middle !important; }
  select { margin-bottom: 0px !important; }

  .user-details-edit:hover {
    text-decoration: none;
  }
  .user-details-edit i {
    display: none;
  }
  tr:hover .user-details-edit i {
    display: inline-block;
    position: absolute;
    margin: 2px 0px 0px 4px;
  }
</style>
{% endblock %}

{% block content %}

<form method="post">{% csrf_token %}
  {{ formset.management_form }}
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Joined</th>
        <th>Last login</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
      {% with u=form.user_object %}
      <tr>
        {{ form.id }}
        <td>
          <a title="Edit user details"
             class="user-details-edit"
             target="_blank"
             href="{% url admin:auth_user_change u.id %}">
            {{ form.user_display_name }}
            <i class="icon-edit"></i>
          </a>
        </td>
        <td>
          {{ u.email }}
        </td>
        <td>
          {{ form.project_role }}
        </td>
        <td>
          {{ u.date_joined|date:"M j, Y" }}
        </td>
        <td>
          {{ u.last_login|date:"M j, Y" }}
        </td>
        <td>
          {{ form.is_active }}
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  <input class="btn pull-right" type="submit" value="Save" />
</form>

{% endblock %}
