{% extends "base.html" %}

{% block css %}
<style type="text/css">
  td { vertical-align: middle !important; }
  select { margin-bottom: 0px !important; }
</style>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
  {{ formset.management_form }}
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Last seen</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
      <tr>
        {{ form.id }}
        <td>
          {{ form.user_display_name }}
        </td>
        <td>
          {{ form.user_email }}
        </td>
        <td>
          {{ form.project_role }}
        </td>
        <td>
          {{ form.last_active }}
        </td>
        <td>
          {{ form.is_active }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
</form>

{% endblock %}
